.cab-tabs{
    .cabs__panel {
        padding-left: 0px;
        padding-right: 0px;
        border: none;
    }
}

.cab-detail-date-meta {
    margin-bottom: 30px;
}

.cab-detail-list-item {
    display: block;
}

ul.cab-profile-file-list {
    border-top: 1px solid #b1b4b6;

    li.cab-profile-file-list-item {
        list-style: none;
        border-bottom: 1px solid #b1b4b6;
        padding: 20px 0;
    }
}

.js-enabled {

    @include govuk-media-query($from: mobile) {
        .cab-tabs {
            .cab-detail-section {
                padding: 10px 0 40px;
            }

            .govuk-summary-list {
                border-top: 1px solid #b1b4b6;

                @include govuk-media-query($until: tablet) {
                    padding-top: 10px;
                }
            }

            .govuk-tabs__list {
                @include govuk-clearfix;
                margin-bottom: 0;
                border-bottom: none;

                @include govuk-media-query($from: tablet) {
                    border-bottom: 1px solid $govuk-border-colour;
                }

                @include govuk-media-query($until: tablet) {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .govuk-tabs__list-item {
                position: relative;
                margin-bottom: 0;
                margin-left: 0;
                padding: govuk-spacing(2) govuk-spacing(4);
                float: left;
                background-color: govuk-colour("light-grey", $legacy: "grey-4");
                text-align: center;
                width: 35%;

                @include govuk-media-query($from: tablet) {
                    width: auto;
                    margin-right: govuk-spacing(1);
                }

                &:before {
                    content: none;
                }
            }

            .govuk-tabs__list-item--selected {
                $border-width: 1px;

                position: relative;
                // Compensation for border (otherwise we get a shift)
                margin-bottom: -$border-width;
                border: $border-width solid $govuk-border-colour;
                background-color: $govuk-body-background-colour;

                @include govuk-media-query($from: tablet) {
                    border-bottom: 0;
                    margin-top: govuk-spacing(-1);
                    padding-top: govuk-spacing(3) - $border-width;
                    padding-right: govuk-spacing(4) - $border-width;
                    padding-bottom: govuk-spacing(3) + $border-width;
                    padding-left: govuk-spacing(4) - $border-width;
                }


                .govuk-tabs__tab {
                    text-decoration: none;
                }
            }

            .govuk-tabs__tab {
                @include govuk-link-style-text;
                margin-bottom: 0;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }

            .govuk-tabs__panel {
                @include govuk-media-query($until: tablet) {
                    padding-top: 20px;
                }
            }

            .govuk-tabs__panel--hidden {
                display: none;
            }
        }
    }
}