@model SearchViewModel

<div id="search-results-form-column" class="govuk-grid-column-one-third govuk-body">
    <form id="search-results-form" method="get" novalidate>
        <div id="search-results-pagination-container-mobile" class="search-results-pagination-container">
            <partial name="Partials/_Pagination" model="Model.Pagination"/>
        </div>

        <div id="search-keyword-container">
            <div id="search-filter-keywords">
                <fieldset aria-describe="search the conformity assessment body databaase using keywords or search terms">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="Keywords">
                            Search
                        </label>
                    </h3>
                    <div id="search-filter-keywords-input-container">
                        <input type="text" asp-for="Keywords" class="govuk-input search-box" />
                        <button class="clear-icon" type="submit"></button>
                        <button id="search-keyword-button" type="submit">Search</button>
                    </div>
                </fieldset>
            </div>
        </div>

        <div id="search-filter-container">

            <div id="search-filter-header">
                <a id="search-results-list-toggle" class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
                <h3 class="govuk-heading-s">Filters</h3>
                <a id="clear-filters-link" asp-area="Search" asp-controller="Search" asp-action="Index" class="govuk-link govuk-link--no-visited-state">Remove all filters</a>
            </div>


            <div id="search-filter-options">
                <partial name="Partials/_SearchFilter" model="Model.BodyTypeOptions"/>
                <partial name="Partials/_SearchFilter" model="Model.RegisteredOfficeLocationOptions"/>
                <partial name="Partials/_SearchFilter" model="Model.LegislativeAreaOptions"/>
                @if (Model.InternalSearch)
                {
                    <partial name="Partials/_SearchFilter" model="Model.StatusOptions"/>
                }
                <div id="search-filter-button-wrapper">
                    <button class="govuk-button">Apply filters</button>
                </div>
            </div>

        </div>
    </form>
</div>