@model UKMCAB.Web.UI.Models.ViewModels.Account.ForgotPasswordViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="account" method="post">
            <partial name="Partials/_ValidationSummary" model="null"/>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Forgotten password
                    </h1>
                </legend>
                
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState,"Email")">
                    <span asp-validation-for="Email" class="govuk-error-message"></span>
                    <label asp-for="Email" class="govuk-label"></label>
                    <input asp-for="Email" class="govuk-input" aria-required="true"/>
                </div>
                <div class="govuk-form-group">
                    <button id="login-submit" type="submit" class="govuk-button">Password reset</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>