@model UKMCAB.Web.UI.Models.ViewModels.Account.ResetPasswordViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <partial name="Partials/_ValidationSummary" model="ViewData.ModelState"/>
            <input asp-for="Code" type="hidden" />
            
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Forgotten password
                    </h1>
                </legend>
                    
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "Email")">
                    <span asp-validation-for="Email" class="govuk-error-message"></span>
                    <label asp-for="Email" class="govuk-label"></label>
                    <input asp-for="Email" class="govuk-input" aria-required="true"/>
                </div>
                                
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState,"Password")">
                    <span asp-validation-for="Password" class="govuk-error-message"></span>
                    <label asp-for="Password" class="govuk-label"></label>
                    <input asp-for="Password" class="govuk-input" aria-required="true"/>
                </div>
                    
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState,"ConfirmPassword")">
                    <span asp-validation-for="ConfirmPassword" class="govuk-error-message"></span>
                    <label asp-for="ConfirmPassword" class="govuk-label"></label>
                    <input asp-for="ConfirmPassword" class="govuk-input" aria-required="true"/>
                </div>

                <div class="govuk-form-group">
                    <button id="login-submit" type="submit" class="govuk-button">Reset password</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>