@model UKMCAB.Web.UI.Models.ViewModels.Admin.CABConfirmationViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title cab-confirmation-banner">
                @Model.Name published
            </h1>
            <div class="govuk-panel__body">
                CAB number<br><strong class="govuk-!-font-weight-bold cab-confirmation-banner">@Model.CABNumber</strong>
            </div>
        </div>
        <h2 class="govuk-heading-m govuk-!-margin-top-9">What happens next</h2>
        <p class="govuk-body">
            CAB is now publicly available.
        </p>
        <p class="govuk-body">
            <a class="govuk-link" asp-area="Search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.URLSlug" asp-route-returnURL="confirmation">View CAB</a>
        </p>
        <p class="govuk-body">
            <a class="govuk-link" asp-area="admin" asp-controller="CabManagement" asp-action="CABManagement">Go to CAB management</a>
        </p>
    </div>
</div>
