@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.DeclineCABViewModel
<div class="govuk-grid-row">
        <h1 class="govuk-heading-l">Decline CAB @Model.CABName</h1>
        <form id="declinecabform" method="post">
            <div class="govuk-!-width-two-thirds @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.DeclineReason))">
                <govuk-character-count asp-for="DeclineReason" max-length="1000" rows="5">
                    <govuk-character-count-label class="govuk-label--m" is-page-heading="false">
                        Reason
                    </govuk-character-count-label>
                    <govuk-character-count-hint>
                       Enter the reason for declining this CAB profile.
                    </govuk-character-count-hint>
                </govuk-character-count>
            </div>

            <govuk-warning-text icon-fallback-text="Warning">Declined CABs will not be published and the user group will be notified.</govuk-warning-text>
            <div class="govuk-button-group">
                <govuk-button type="submit">Decline</govuk-button>
                <a asp-area="admin" asp-controller="CabManagement" asp-action="CABManagement" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>