@using UKMCAB.Core.Security;
@using UKMCAB.Data.Models;
@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB;
@model GovernmentUserNotesViewModel;

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
            </div>
        </div>
    </div>
}

<div class="govuk-body">
    <partial name="~/Areas/Search/Views/CABProfile/Partials/_UserNotes.cshtml" for="GovernmentUserNotes" />
</div>

    
