@{
    ViewData["nav"] = "about";
}

<div class="govuk-breadcrumbs govuk-!-margin-bottom-7">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Home">Home</a>
        </li>
    </ol>
</div>

<h1 class="govuk-heading-xl">About</h1>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">The UK Market Conformity Assessment Bodies (UKMCAB) database serves as the UK’s database of Conformity Assessment Bodies (CABs). UKMCAB is part of the <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy"> Department for Business, Energy &amp; Industrial Strategy</a>.  It is the definitive source and a register of UK Government appointed CABs who can certify goods for both the GB and NI markets.</p>
        <p class="govuk-body">The term Approved Body is used generically in the database and should be read to include Appointed Bodies which apply to some CABs appointed by the Department for Transport that perform the same role as Approved Bodies.</p>
        <p class="govuk-body">If there are any issues with the accuracy of the information in UKMCAB, please let us know at <a class="govuk-link" href="mailto:approvedbodies@beis.gov.uk">approvedbodies@beis.gov.uk</a></p>
        
        <h3 class="govuk-heading-m">Useful links</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="#">Using the UKCA marking</a></li>
            <li><a class="govuk-link" href="#">Placing manufactured goods on the GB market</a></li>
            <li><a class="govuk-link" href="#">Conformity assessment and documentation</a></li>
            <li><a class="govuk-link" href="#">Roles and responsibilities</a></li>
        </ul>
    </div>
</div>
