@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.DeclineLAViewModel 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-m">Edit a CAB</span>
        <h1 class="govuk-heading-l">@Model.Title</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form id="declineLAForm" method="post">

            <div class="@Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.DeclineReason))">
                <govuk-character-count asp-for="DeclineReason" max-length="1000" rows="5">
                    <govuk-character-count-label class="govuk-label--m" is-page-heading="false">
                        Reason
                    </govuk-character-count-label>
                    <govuk-character-count-hint>
                        Enter the reason for declining this legislative area. This will only be shown to users that are signed in to the UKMCAB service.
                    </govuk-character-count-hint>
                </govuk-character-count>
            </div>

            <div class="govuk-button-group">
                <govuk-button type="submit" name="submitType" value="decline">Decline</govuk-button>
                <a asp-area="Admin" asp-controller="Cab" asp-action="Summary" asp-route-id="@Model.CabId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>