@using System.Globalization
@using UKMCAB.Common.Extensions;
@using UKMCAB.Web.UI.Areas.Admin.Controllers.LegislativeArea

@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.LegislativeAreaDeclineReasonViewModel

@{
    var actionText = @Model.ReviewActionEnum.GetEnumDescription();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-m">Edit a CAB</span>
        <h1 class="govuk-heading-l">Decline request to @actionText legislative area</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form id="declineLAForm" method="post">
            <input type="hidden" asp-for="CabId" />
            <input type="hidden" asp-for="LegislativeAreaId" />
            <input type="hidden" asp-for="Title" />            
            <input type="hidden" asp-for="ReviewActionEnum" />
            <govuk-character-count asp-for="DeclineReason" max-length="1000" rows="5">
                <govuk-character-count-label class="govuk-label--m" is-page-heading="false">
                    Reason
                </govuk-character-count-label>
                <govuk-character-count-hint>
                    Enter the reason for declining to @actionText this legislative area. This will only be shown to users that are signed in to the UKMCAB service.
                </govuk-character-count-hint>
            </govuk-character-count>
            <div class="govuk-button-group">
                <govuk-button type="submit" name="submitType" value="decline">Decline</govuk-button>
                <a asp-area="Admin" asp-route="@LegislativeAreaApproveController.Routes.LegislativeAreaApproveDeclineSelection" asp-route-id="@Model.CabId" asp-route-legislativeAreaId="@Model.LegislativeAreaId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>