@using System.Web;
@using UKMCAB.Web.UI.Areas.Admin.Controllers.LegislativeArea
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.Review.ReviewLegislativeAreasViewModel

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link href="@Url.RouteUrl(LegislativeAreaDetailsController.Routes.AddLegislativeArea, new { id = Model.CABId })"/>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <form method="post" enctype="multipart/form-data" novalidate>
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-m">Legislative area added</span>
                    </legend>
                </fieldset>
            </div>
            <div>
                <div>
                    <govuk-button-link class="govuk-button--secondary" href="/">Remove legislative area</govuk-button-link>
                </div>
                <div>
                    <govuk-button-link class="govuk-button--secondary" href="@Url.RouteUrl(LegislativeAreaDetailsController.Routes.AddLegislativeArea, new { id = Model.CABId })">Add legislative area</govuk-button-link>
                </div>
                <div class="govuk-button-group ukmcab-padding-top-50">
                    <govuk-button disabled="false" type="submit" name="submitType" value="@Constants.SubmitType.Continue">Save and continue</govuk-button>
                    <govuk-button type="submit" name="submitType" value="@Constants.SubmitType.Save" class="govuk-button--secondary">Save as draft</govuk-button>
                    <a asp-area="Admin" asp-controller="CabManagement" asp-action="CABManagement" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>