@model UKMCAB.Web.UI.Models.ViewModels.Account.ChangePasswordViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="change-password" method="post">
            <partial name="_ValidationSummary" model="ViewData.ModelState"/>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Change password
                    </h1>
                </legend>

                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState,"CurrentPassword")">
                    <span asp-validation-for="CurrentPassword" class="govuk-error-message"></span>
                    <label asp-for="CurrentPassword" class="govuk-label"></label>
                    <input asp-for="CurrentPassword" class="govuk-input" autocomplete="current-password" aria-required="true"/>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState,"NewPassword")">
                    <span asp-validation-for="NewPassword" class="govuk-error-message"></span>
                    <label asp-for="NewPassword" class="govuk-label"></label>
                    <input asp-for="NewPassword" class="govuk-input" autocomplete="new-password" aria-required="true"/>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState,"ConfirmPassword")">
                    <span asp-validation-for="ConfirmPassword" class="govuk-error-message"></span>
                    <label asp-for="ConfirmPassword" class="govuk-label"></label>
                    <input asp-for="ConfirmPassword" class="govuk-input" autocomplete="confirm-password" aria-required="true"/>
                </div>

                <div class="govuk-form-group">
                    <button id="login-submit" type="submit" class="govuk-button">Update password</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
