@page
@model UKMCAB.Web.UI.Pages.bdc39f6c9d90._401Model

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">@Model.Title</h1>
        <p class="govuk-body-s">Please login to access this area</p>
    </div>
</div>