@page
@using UKMCAB.Web.UI.Areas.Home.Controllers
@model UKMCAB.Web.UI.Pages._403Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">You do not have permission to access this page</h1>
        <p class="govuk-body-s">If you think you should have access, 
            @*
            TEMPORARILY HIDE Contact Us functionality - UKMCAB-1983 / hotfix 4.2.1
            <a class="govuk-link" asp-route="@FooterController.Routes.ContactUs">contact us</a> *@
           contact <a class="govuk-link" href="mailto:opss.enquiries@businessandtrade.gov.uk">opss.enquiries@businessandtrade.gov.uk</a>
            for support.</p>
    </div>
</div>