@page
@model UKMCAB.Web.UI.Pages._404Model

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">We can't find that page</h1>
        <p class="govuk-body-s">You can:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
            <li>use the back button and try another link</li>
            <li>check the URL you entered</li>
        </ul>
    </div>
</div>