@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="account" method="post">
            <partial name="_ValidationSummary" model="Model.ModelState"/>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Forgotten password
                    </h1>
                </legend>
                
                <div class="govuk-form-group @ShowErrorClass("Input.Email")">
                    <span asp-validation-for="Input.Email" class="govuk-error-message"></span>
                    <label asp-for="Input.Email" class="govuk-label"></label>
                    <input asp-for="Input.Email" class="govuk-input" aria-required="true"/>
                </div>
                <div class="govuk-form-group">
                    <button id="login-submit" type="submit" class="govuk-button">Password reset</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@functions
{
    public string ShowErrorClass(string key)
    {
        return Model.ModelState.Keys.Any(k => k.Equals(key)) && Model.ModelState[key].ValidationState == ModelValidationState.Invalid ? "govuk-form-group--error" : string.Empty;
    }
}
