@page
@model ForgotPasswordConfirmation

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Forgot password confirmation
                </h1>
            </legend>
            @if (@Model.DisplayConfirmAccountLink)
            {
                <p class="govuk-body">This app does not currently have a real email sender registered, normally this would be emailed:</p> 
                <a id="confirm-link" href="@Model.ResetConfirmationUrl" class="govuk-button">Click here to reset your password</a>
            }
            else
            {
                <p class="govuk-body">
                    Please check your email to reset your password.
                </p>
            }
        </fieldset>
    </div>
</div>

