@page
@model PendingAccountReviewModel
@{
    ViewData["Title"] = "Pending account review";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Pending account review
                    </h1>
                </legend>
                <button asp-page-handler="Approve" class="govuk-button" data-module="govuk-button">Approve</button>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            @Model.UserForReview.Email
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Legislative areas
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            @string.Join(", ", Model.UserForReview.Regulations)
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reason for request
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            @Model.UserForReview.RequestReason
                        </dd>
                    </div>
                </dl>
                <div class="govuk-form-group">
                    <label asp-for="Input.RejectionReason" class="govuk-label"></label>
                    <input asp-for="Input.RejectionReason" class="govuk-input"/>
                    <input asp-for="Input.UserId" type="hidden"/>
                </div>
                <button asp-page-handler="Reject" class="govuk-button govuk-button--warning" data-module="govuk-button">Reject</button>
            </fieldset>
        </form>
    </div>
</div>
