@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BasicPageModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title cab-confirmation-banner">
                Account locked
            </h1>
        </div>
        <p class="govuk-body">Sorry your account is locked, please contact the help desk for further assistance.</p>
        <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" asp-area="Home" asp-controller="Footer" asp-action="ContactUs">Contact support</a>
        </p>
    </div>
</div>