
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.Shared.HelperDate

<div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.Date))">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="appointment-date-hint">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="Date" id="AppointmentDate">
                            Appointment date (optional)
                        </label>
                    </h3>
                    <p class="govuk-error-message">
                        <span asp-validation-for="Date" class="govuk-error-message"></span>
                    </p>
                    <div id="appointment-date-hint" class="govuk-hint">
                        For example, 27 3 2007
                    </div>
                    <div class="govuk-date-input" id="appointment-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateDay">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.DateDay))" asp-for="DateDay" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateMonth">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.DateMonth))" asp-for="DateMonth" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateYear">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.DateYear))" asp-for="DateYear" type="text" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>