@using System.Net
@using UKMCAB.Core.Domain
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABBodyDetailsViewModel

<div class="cab-summary-detail">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row  govuk-!-padding-top-5">
            <dt class="govuk-summary-list__key">
                Registered test location
            </dt>
            <dd class="govuk-summary-list__value">
                @if (Model.TestingLocations.Any(tl => !string.IsNullOrWhiteSpace(tl)))
                {
                    @Html.Raw(string.Join("<br />", Model.TestingLocations))
                }
                else
                {
                    <text>@Constants.NotProvided</text>
                }
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Body type
            </dt>
            <dd class="govuk-summary-list__value">
                @if (Model.BodyTypes.Any())
                {
                    @Html.Raw(string.Join("<br />", Model.BodyTypes))
                }
                else
                {
                    <text>@Constants.NotProvided</text>
                }
            </dd>
        </div>
    </dl>
</div>
