@using System.Net
@using UKMCAB.Core.Domain
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABHistoryViewModel

    <dl class="govuk-summary-list cab-summary-list">
        <div class="govuk-summary-list__row  govuk-!-padding-top-5">
            <dt class="govuk-summary-list__key">
                <div class="cab-summary-header  govuk-!-padding-top-5 ukmcab-float__unset">
                    <h3 class="govuk-heading-l">History</h3>
                </div>
            </dt>
        </div>
    </dl>

    <div class="cab-summary-detail">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-!-padding-top-5">
                <dt class="govuk-summary-list__key">
                    Actions
                </dt>
                <dd class="govuk-summary-list__value">
                    <p>Last action: @Model.LastAuditLogHistoryDate?.ToStringBeisFormat()</p>

                    <a asp-area="admin" asp-controller="Cab" asp-action="History" asp-route-cabId="@Model.CABId"
                       asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">
                        View history
                    </a>
                </dd>
            </div>
        </dl>
    </div>
