@using Microsoft.AspNetCore.Identity
@using UKMCAB.Identity.Stores.CosmosDB

@inject SignInManager<UKMCABUser> SignInManager
@inject UserManager<UKMCABUser> UserManager
<div class="app-sign-in-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var isOPSS = await UserManager.IsInRoleAsync(user, Constants.Roles.OPSSAdmin);
        <div class="app-sign-in-nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Account" asp-controller="Home" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a id="logoutLink" href="#" class="govuk-header__link">Logout</a>
            </form>
        </div>
        <div class="app-sign-in-nav-item">
            <a class="govuk-header__link" id="logout" asp-area="Account" asp-controller="Manage" asp-action="ChangePassword">Change password</a>
        </div>
        @if (isOPSS)
        {
            <div class="app-sign-in-nav-item">
                <a class="govuk-header__link" id="logout" asp-area="Account" asp-controller="Manage" asp-action="PendingRequests">Pending registrations</a>
            </div>
        }
    }
    else
    {
        <div class="app-sign-in-nav-item">
            <a class="govuk-header__link" id="login" asp-area="Account" asp-controller="Home" asp-action="Login">Login</a>
        </div>
    }
</div>
