@model BasicPageModel

@{
    ViewBag.Title = Model.Title!;
}
<govuk-back-link href="/"/>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.Title</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <govuk-tabs>
        <govuk-tabs-item id="Unassigned" label="Unassigned">
            <p>There are no assigned notifications</p>
        </govuk-tabs-item>
        <govuk-tabs-item id="assigned-me" label="Assigned to me">
            <p>partial to add</p>
        </govuk-tabs-item>
        <govuk-tabs-item id="assigned-group" label="Assigned to [user group]">
            <h2 class="govuk-heading-l">Assigned to user group</h2>
        </govuk-tabs-item>
        <govuk-tabs-item id="completed" label="Completed">
            <h2 class="govuk-heading-l">Completed</h2>
        </govuk-tabs-item>
    </govuk-tabs>
</div>