@model SubscriptionRequestFlowViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <form method="post">
            <div class="govuk-!-margin-bottom-8">
                <h1 class="govuk-heading-xl">
                    Get emails from GOV.UK
                </h1>
            </div>

            <p class="govuk-body">
                You’ll get emails when we add or update pages about:
            </p>

            <p class="govuk-body govuk-!-margin-bottom-8">
                @if (Model.Flow.SubscriptionType == UKMCAB.Subscriptions.Core.Domain.SubscriptionType.Search)
                {
                    <strong class="govuk-!-font-weight-bold">
                        UKMCAB search results @Model.Flow.Keywords.PrependIf("for '").AppendIf("'")
                    </strong>
                }
                else
                {
                    <strong class="govuk-!-font-weight-bold">UKMCAB profile for '@Model.Flow.CabName'</strong>
                }
            </p>


            <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Continue</button>


        </form>
    </div>
</div>

@section BackButton {
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a href="#!" class="govuk-back-link js-history-back">Back</a>
            </div>
        </div>
    </div>
}