@model SubscriptionRequestFlowViewModel

<form method="post">
    <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <h1 class="govuk-heading-xl">
            Get emails from GOV.UK
        </h1>
    </div>

    <p class="govuk-body">
        You’ll get emails when we add or update pages about:
    </p>

    <p class="govuk-body govuk-!-margin-bottom-8">
        @if(Model.Flow.SubscriptionType == UKMCAB.Subscriptions.Core.Domain.SubscriptionType.Search)
        {
            <strong class="govuk-!-font-weight-bold">UKMCAB search results</strong>
        }
        else
        {
            <strong class="govuk-!-font-weight-bold">UKMCAB CAB '@Model.Flow.CabName'</strong>
        }
    </p>


    <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Continue</button>


</form>