.test-location {
    padding: 5px 0 10px 0;

    a {
        margin-left: 20px;

        @include govuk-media-query($until: tablet) {
            margin: 0;
        }
    }

    select {
        margin: 10px 0;
    }
}

.remove-test-location-button {
    margin: 10px 0 10px 20px;
}

#add-test-location-button-container {
    margin-bottom: 40px;

    #add-test-location-link {
        display: none;
    }

}

.js-enabled {
    .remove-test-location-button {
        display: none;
    }
    #add-test-location-button-container {
        #add-test-location-link {
            display: inline-block;
        }

        #add-test-location-button {
            display: none;
        }

    }
}

#review-date {
    float: left;

    @include govuk-media-query($until: tablet) {
        float: none;
    }
}

#add-18-button {
    button {
        margin-top: 30px;

        @include govuk-media-query($until: tablet) {
            margin-top: 10px;
        }
    }

}

