.test-location {
    padding: 5px 0 10px 0;

    a {
        margin-left: 20px;

        @include govuk-media-query($until: tablet) {
            margin: 0;
        }
    }
    select {
        margin: 10px 0;
    }
}

#add-test-location-button-container {
    margin-bottom: 40px;
}

.cab-detail-group {
    display: inline-block;
    border: 2px solid #0b0c0c;
    padding: 20px;
    margin-bottom: 30px;
}

.cab-detail-group-heading {
    padding-bottom: 20px;
}
