.document-item {
    padding-top: 40px;
}

@include govuk-media-query($from: mobile) {
    .document-list {
        clear: both;
        display: flex;
        align-items: flex-end;
    }

    .document-item {
        /*flex: 50%;*/
        padding-top: 0px;
    }

    .legislative-area-label  {
        padding-top:8px;
    }
}

.document-list-align-normal {
    align-items: flex-start;    
}

.document-file-name {
    @include govuk-media-query($from: tablet) {
        padding-left: 51px;
    }
}

.document-padding-right-17 {
    padding-right: 17px;
}

.document-detail-select {
    min-width: 1em !important;
    width: 100%;
}