
.cab-detail-group {
    display: inline-block;
    border: 2px solid #0b0c0c;
    padding: 20px 30px 20px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cab-detail-group-heading {
    padding-bottom: 20px;
}
