
.legislative-area-title-and-status {
    display: flex;
    justify-content: flex-end;

    @include govuk-media-query($until: tablet) {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0;

        strong.cab-status-tag {
            margin: 0;
        }
    }
}

.legislative-area-title-and-status div:first-child {
    margin-right: auto;

    @include govuk-media-query($until: tablet) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.legislative-area-title-and-status div:not(:first-child) {

    @include govuk-media-query($until: tablet) {
        margin-bottom: 15px;
    }
}
