
.legislative-area-title-and-status {
    display: flex;
    justify-content: flex-end;

    @include govuk-media-query($until: tablet) {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0;

        strong.cab-status-tag {
            margin: 0;
        }
    }
}

.legislative-area-title-and-status div:first-child {
    margin-right: auto;

    @include govuk-media-query($until: tablet) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.legislative-area-title-and-status div:not(:first-child) {

    @include govuk-media-query($until: tablet) {
        margin-bottom: 15px;
    }
}

#search-keyword-container {
    #search-filter-keywords {
        margin-bottom: 20px;

        #search-filter-keywords-input-container {
            position: relative;

            input {
                width: calc(100% - 40px);
                padding-right: 28px;
            }

            #search-keyword-button {
                background-color: #1d70b8;
                background-image: url('../finder/images/search/search-button.png');
                background-position: 2px 50%;
                background-repeat: no-repeat;
                bottom: 0;
                border: 2px solid $govuk-input-border-colour;
                border-left: none;
                color: #fff;
                cursor: pointer;
                height: 100%;
                overflow: hidden;
                padding: 0;
                position: absolute;
                right: 0;
                text-indent: -5000px;
                width: 40px;

                &:focus {
                    outline: 3px solid #ffdd00;
                    outline-offset: 0;
                }
            }
        }
    }
}