.notifications-tabs {

  @media (min-width: 40.0625em) {
    td > label {
      display: none;
    }

    table {
      table-layout: fixed;
      width: 100%;
    }

    td {
      font-size: 16px;
      padding-left: 5px;
      overflow: hidden;
      white-space: nowrap;
    }
    #sortForm {
      display: none;
    }
  }

  @media (max-width: 40.0625em) {
    table tr td {
      display: block;
      overflow-wrap: break-word;
      border-bottom: none;
      font-size: 16px;
    }

    table {
      table-layout: fixed;
    }

    tr {
      border-bottom: 1px solid #b1b4b6;
    }

    thead {
      display: none;
    }

    td > label {
      display: block;
      font-weight: 600;
      padding-bottom: 10px;
    }
    
    .govuk-table__cell {
      padding: 20px 10px 20px 0;
    }

    #notifications-sort-form-group {
      padding: 30px 5px 5px;
    }
  }

  .notifications-sort {
    position: relative;
    text-decoration: none;
    color: black;

    &[aria-sort]:before {
      content: " \25bc";
      position: absolute;
      right: -15px;
      top: 10px;
      font-size: 0.5em;
    }

    &[aria-sort]:after {
      content: " \25b2";
      position: absolute;
      right: -15px;
      top: 1px;
      font-size: 0.5em;
    }

    &[aria-sort="ascending"]:before,
    &[aria-sort="descending"]:before {
      content: none;
    }

    &[aria-sort="ascending"]:after {
      content: " \25b2";
      font-size: 0.8em;
      right: -18px;
      top: 3px;
    }

    &[aria-sort="descending"]:after {
      content: " \25bc";
      font-size: 0.8em;
      right: -18px;
      top: 3px;
    }
  }

  #mobile-sort {
    label,
    .user-manage-sort {
      float: left;
    }

    select {
      width: 100%;
    }
  }


  .govuk-tabs__list {
    @include govuk-clearfix;
    margin-bottom: 0;
    border-bottom: 1px solid $govuk-border-colour;

    @include govuk-media-query($until: tablet) {
      border-bottom: none;
    }

    .govuk-tabs__list-item {
      position: relative;
      float: left;
      background-color: govuk-colour("light-grey", $legacy: "grey-4");
      text-align: center;
      width: auto;
      padding: govuk-spacing(2) govuk-spacing(4);
      margin: 0 govuk-spacing(1) 0 0;

      @include govuk-media-query($until: tablet) {
        padding: govuk-spacing(2) 0;
        margin: 5px 2px;
        width: 48%;
        height: 30px;
        float: left;
        border-bottom: 2px solid govuk-colour("light-grey", $legacy: "grey-4");
        vertical-align: top;
        display: inline;
      }

      &:before {
        content: none;
      }

      .user-tabs__tab .govuk-tabs__tab {
        @include govuk-link-style-text;
        margin-bottom: 0;

        @include govuk-media-query($until: tablet) {
          vertical-align: -webkit-baseline-middle;
          display: inline;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }

    .govuk-tabs__tab:visited {
      color: #0b0c0c;
    }

    .govuk-tabs__tab:link {
      color: #0b0c0c;
    }

    .govuk-tabs__list-item--selected {
      $border-width: 1px;
      position: relative;
      background-color: $govuk-body-background-colour;
      border-bottom: 0;
      margin-top: 5px;
      margin-bottom: -$border-width;
      padding-top: govuk-spacing(3) - $border-width;
      padding-right: govuk-spacing(4) - $border-width;
      padding-bottom: govuk-spacing(1) + $border-width;
      padding-left: govuk-spacing(4) - $border-width;

      @include govuk-media-query($until: tablet) {
        border: $border-width solid $govuk-border-colour;
        padding: govuk-spacing(2) 0;
        margin: 5px 2px;
      }

      .govuk-tabs__tab {
        text-decoration: none;
      }
    }
  }
}
