.justify-content--center {
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
}

.success-banner-link {
    color: $govuk-success-colour !important;
}

