.notifications-tabs {

    @include govuk-media-query($until: tablet) {
        td > label {
            display: none;
        }

        table {
            table-layout: fixed;
            width: 100%;
        }

        td {
            font-size: 16px;
            padding-left: 5px;
            overflow: hidden;
            white-space: nowrap;
        }

        #sortForm {
            display: none;
        }
    }

    @include govuk-media-query($until: tablet) {
        table {
            table-layout: fixed;
        }

        table tr td {
            display: block;
            overflow-wrap: break-word;
            border-bottom: none;
            font-size: 16px;
        }

        thead {
            display: none;
        }

        tr {
            border-bottom: 1px solid #b1b4b6;
        }

        td > label {
            display: block;
            font-weight: 600;
            padding-bottom: 10px;
        }

        .govuk-table__cell {
            padding: 20px 10px 20px 0;
        }

        #notifications-sort-form-group {
            padding: 30px 5px 5px;
        }

        #sortForm {
            display: block !important;
        }

        #sortButton {
            display: none;
        }
    }

    .hideBottomBorder {
        border-bottom: none !important;
    }

    .govuk-tabs__panel--hidden {
        display: none;
    }

    .govuk-tabs__list {
        @include govuk-clearfix;
        margin-bottom: 0;
        border-bottom: 1px solid $govuk-border-colour;

        @include govuk-media-query($until: tablet) {
            border-bottom: none;
        }

        .govuk-tabs__list-item {
            position: relative;
            float: left;
            background-color: govuk-colour("light-grey", $legacy: "grey-4");
            text-align: center;
            width: auto;
            padding: 4px 8px;
            margin: 0 govuk-spacing(1) 0 0;

            @include govuk-media-query($until: tablet) {
                padding: govuk-spacing(2) 0;
                margin: 5px 2px;
                width: 48%;
                height: 30px;
                float: left;
                border: 1px solid govuk-colour("light-grey", $legacy: "grey-4");
                vertical-align: top;
                display: inline;
            }

            @include govuk-media-query($until: mobile) {
                width: 100%;
            }

            &:before {
                content: none;
            }

            .user-tabs__tab .govuk-tabs__tab {
                @include govuk-link-style-text;
                margin-bottom: 0;

                @include govuk-media-query($until: tablet) {
                    vertical-align: middle;
                    display: inline;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        .govuk-tabs__tab:visited {
            color: $govuk-text-colour;
        }

        .govuk-tabs__tab:link {
            color: $govuk-text-colour;
        }

        .govuk-tabs__list-item--selected {
            $border-width: 1px;
            position: relative;
            background-color: $govuk-body-background-colour;
            border-bottom: 0;
            margin-top: -5px;
            margin-bottom: -$border-width;
            padding-top: govuk-spacing(3) - $border-width;
            padding-right: govuk-spacing(4) - $border-width;
            padding-bottom: 16px;
            padding-left: govuk-spacing(4) - $border-width;

            @include govuk-media-query($until: tablet) {
                border: $border-width solid $govuk-border-colour;
                padding: govuk-spacing(2) 0;
                margin: 5px 2px;
            }

            .govuk-tabs__tab {
                text-decoration: none;
            }
        }
    }
}
