.cab-summary-header-list {

  .cab-summary-list {
    .cab-summary-header {
      position: relative;

      h3 {
        padding-bottom: 0;
        margin: 0;
        vertical-align: bottom;
      }
    }

    .govuk-summary-list__value {
      padding-right: 0;
      @include govuk-media-query($until: tablet) {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }

    .cab-result-status-label {
      float: right;
      border: 1px hidden;
      padding: 0 5px;
      font-weight: 600;
      margin-left: 10px;
      margin-bottom: 5px;

      &.cab-result-completed {
        background-color: rgb(29, 112, 184);
        color: white;
      }

      &.cab-result-not-completed {
        background-color: rgba(248, 152, 128, 0.5);
        color: darkred;
      }

      @include govuk-media-query($until: tablet) {
        &.cab-details-result-status-label {
          margin-top: 0px !important;
        }
        margin-top: 15px;
      }
    }
  }

  .govuk-summary-list {
    @media (min-width: 40.0625em) {
      margin-bottom: 0;
      clear: both;
      dt {
        width: 40%;
      }
    }
  }
}

.cab-confirmation-banner {
  word-wrap: break-word;
}

.cab-summary-schedule-item {
  @include govuk-media-query($until: tablet) {
    padding: 0 0 12px 0;
  }
}

.provisional-la {
    width: calc(100% - 38px);
    display: flex !important;
    justify-content: flex-end;
    align-items: flex-start;

    @include govuk-media-query($until: tablet) {
        flex-direction: column;

        .govuk-details__summary-text {
            margin-bottom: 12px;
        }

        strong.cab-status-tag {
            margin: 0;
        }
    }
}

.provisional-la div:first-child {
    margin-right:auto;
}

.provisional-la div:nth-child(2) {
    margin-left: 5px;

    @include govuk-media-query($until: tablet) {
        margin-left: 0;
    }
}

.provisional-la div:last-child {

    @include govuk-media-query($until: tablet) {
        margin-top: 15px;
        margin-left: 0;
    }
}

.provisional-la-single-tag {
    width: calc(100% - 38px);
    display: flex !important;
    justify-content: space-between;

    @include govuk-media-query($until: tablet) {
        flex-direction: column;

        .govuk-details__summary-text {
            margin-bottom: 12px;
        }

        strong.cab-status-tag {
            margin: 0;
        }
    }
}