.cab-summary-header {
    position: relative;

    h3 {
        padding-bottom: 20px;
        margin: 0;
        border-bottom: 1px solid #b1b4b6;
    }

    a {
        position: absolute;
        bottom: 20px;
        right: 0;
    }
}
.cab-confirmation-banner {
    word-wrap: break-word;
    //overflow-wrap: break-word;
}
