@import "./node_modules/govuk-frontend/dist/govuk/all";
@import "./_reset";
@import "./views/cab-body-details.scss";
@import "./views/cab-legislative-areas.scss";
@import "./views/cab-contact.scss";
@import "./views/cab-designated-standard.scss";
@import "./views/cab-history-details.scss";
@import "./views/cab-legislative-area-additional-information.scss";
@import "./views/user-management.scss";
@import "./views/user-profile.scss";
@import "./views/cab-profile.scss";
@import "./views/search.scss";
@import "./views/service-management.scss";
@import "./views/sub-list.scss";
@import "./views/summary.scss";
@import "./views/notifications.scss";
@import "./views/cab-document-list.scss";
@import "./views/LegislativeArea.scss";
@import "./shared/atom-feed.scss";
@import "./shared/feedback-form.scss";
@import "./shared/file-upload.scss";
@import "./shared/general.scss";
@import "./shared/header.scss";
@import "./shared/identity.scss";
@import "./shared/modal.scss";
@import "./shared/pagination.scss";
@import "./shared/social-media-share.scss";
@import "./shared/table.scss";
@import "./shared/inset-text.scss";
@import "./shared/notification-banner.scss";
@import "./shared/tags.scss";
@import "./shared/mobile-sort-table.scss";
@import "./shared/page-content-banner.scss";
@import "./shared/expander.scss";

/* The below style should be coming from the govfrontent node package but isn't for some reason. Adding here as troubleshooting failed to find the reason and time constraints */
.govuk-link:hover {
    text-decoration-thickness: max(3px, .1875rem, .12em);
}

.sort-button {
    position: relative;
    text-decoration: none;
    color: black;

    &[aria-sort] .before-sort {
        position: absolute;
        right: -15px;
        top: 10px;
        font-size: 0.5em;
    }

    &[aria-sort] .after-sort {
        position: absolute;
        right: -15px;
        top: 1px;
        font-size: 0.5em;
    }

    &[aria-sort="asc"] .before-sort,
    &[aria-sort="desc"] .before-sort {
        content: none;
    }

    &[aria-sort="asc"] .after-sort {
        font-size: 0.8em;
        right: -18px;
        top: 3px;
    }

    &[aria-sort="desc"] .after-sort {
        font-size: 0.8em;
        right: -18px;
        top: 3px;
    }
}

/* Something in UKMCAB is messing with the normal functionality here */
.govuk-tabs__list-item--selected {
    margin-bottom: -2px !important;
}