<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Email address updated
    </h1>
    <div class="govuk-panel__body">
        You have successfully updated your email address
    </div>
</div>

