<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Subscribed to CAB updates
    </h1>
    <div class="govuk-panel__body">
        You have successfully subscribed to updates for CAB '@ViewBag.CabName'
    </div>
</div>

