<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Subscribed to search
    </h1>
    <div class="govuk-panel__body">
        You have successfully subscribed to UKMCAB search updates
    </div>
</div>

