@model UKMCAB.Web.UI.Models.ViewModels.Feedback.FeedbackFormViewModel
@{
    ViewData["HideFeeback"] = true;
}

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link href="@Model.ReturnURL" />
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset">
            
            <form asp-area="Home" asp-controller="Feedback" asp-action="Submit" method="post">
                <input type="hidden" asp-for="ReturnURL" value="@Model.ReturnURL"/>

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Help us to improve this service
                    </h1>
                </legend>
                <p class="govuk-body">We use your feedback to make our service easier to use.</p>

                <govuk-textarea asp-for="WhatWereYouDoing">
                    <govuk-textarea-label class="govuk-label--m" >
                        What were you doing?
                    </govuk-textarea-label>                    
                    <govuk-textarea-hint>
                        Explain, step by step, what you did. If we can reproduce a problem, we can try and fix it.
                    </govuk-textarea-hint>
                </govuk-textarea>
                
                <govuk-textarea asp-for="WhatWentWrong">
                    <govuk-textarea-label class="govuk-label--m" >
                        What went wrong?
                    </govuk-textarea-label>
                    <govuk-textarea-hint>
                        Explain what you expected to happen, and what actually happened. A clear explanation will help us fix the problem.
                    </govuk-textarea-hint>
                </govuk-textarea>

                <govuk-input asp-for="Email">
                    <govuk-input-label class="govuk-label--m">Email address (optional)</govuk-input-label>
                    <govuk-input-hint>We may contact you to ask you some questions about your feedback</govuk-input-hint>
                </govuk-input>

                <div class="govuk-button-group">
                    <button class="govuk-button" name="Send" data-module="govuk-button">
                        Send
                    </button>
                    <a class="govuk-button govuk-button--secondary" href="@Model.ReturnURL">Cancel</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>
