<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Give feedback on Create a CAB
        </h1>
        <p class="govuk-body govuk-!-padding-bottom-2">The form in the link below enables the UKMCAB service team to obtain feedback on proposals of how OGDs could input legislative data for Conformity Assessment Bodies (CABs).</p>
        <p class="govuk-body govuk-!-padding-bottom-2">Any feedback offered, both positive and negative, will help us design a more efficient and user-focused service.</p>
        <p class="govuk-body govuk-!-margin-bottom-8"><a href="https://forms.office.com/e/UrKjW4XKia" class="govuk-link govuk-link--no-visited-state">UKMCAB Data Entry Feedback Form</a></p>
        <a class="govuk-button" data-module="govuk-button" asp-controller="Admin" asp-action="List">
            Return to Admin
        </a>
    </div>
</div>
