<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Account locked</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">This account has been locked out, please try again later.</p>
        <p class="govuk-body">If you cannot remember your password please use the <a asp-area="Account" asp-controller="ForgotPassword" asp-action="Index" class="govuk-link">forgotten password</a> form.</p>
    </div>    
</div>