@model UKMCAB.Web.UI.Models.ViewModels.Account.LoginViewModel
@{
    ViewData["nav"] = "signin";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds identity-form">
        @if (Model.FromSignOut)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You have successfully signed out.
                    </p>
                </div>
            </div>
        }
        <form id="sign-in" method="post">
            <partial name="Partials/_ValidationSummary" model="ViewData.ModelState"/>
            <input type="hidden" asp-for="ReturnURL"/>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        UK Market Conformity Assessment Bodies Sign In
                    </h1>
                </legend>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "Email")">
                    <label asp-for="Email" class="govuk-label">Email address</label>
                    <p class="govuk-error-message">
                        <span asp-validation-for="Email" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="Email" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "Email")" autocomplete="username" aria-required="true"/>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "Password")">
                    <label asp-for="Password" class="govuk-label"></label>
                    <p class="govuk-error-message">
                        <span asp-validation-for="Password" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="Password" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "Password")" autocomplete="current-password" aria-required="true"/>
                    <a class="govuk-button govuk-button--secondary show-password-button" href="#">Show</a>
                </div>
                <div class="govuk-inset-text">
                    By signing in you accept our <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="TermsAndConditions">terms and conditions</a>.
                </div>
                <div class="govuk-form-group">
                    <button id="login-submit" type="submit" class="govuk-button">Sign in</button>
                </div>
                <div>
                    <p class="govuk-body">
                        If you are inactive for 20 minutes, your session will timeout.
                    </p>
                </div>
            </fieldset>
        </form>
    </div>
</div>
