<a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="bre-global-ltd" asp-fragment="details">
    View all legislative areas
</a>
@*TODO - work in-progress *@
@* asp-fragment="legislative-areas" *@
