<div class="govuk-tabs__panel cabs-panel govuk-tabs__panel--hidden govuk-body" id="legislative-areas">
    <div class="cab-detail-section">
        <h2 class="govuk-heading-l">Legislative Areas</h2>
    </div>
</div>