@{
    ViewData["nav"] = "about";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">About Us and the UKMCAB service</h1>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
            The UK Market Conformity Assessment Bodies (UKMCAB) service serves as the 
            UK’s database of Conformity Assessment Bodies (CABs). It is the definitive 
            source and a register of UK Government appointed CABs who can certify goods 
            for both the GB and NI markets.
        </p>
        <p class="govuk-body">
            The term Approved Body is used generically in the database and should be 
            read to include Appointed Bodies which apply to some CABs appointed by the 
            Department for Transport that perform the same role as Approved Bodies. 
        </p>
        <p class="govuk-body">
            UKMCAB is currently in the beta phase. This is where a web site or a service 
            is continually tested and improved with the help of users who offer feedback, 
            or agree to participate in user research. Both of which can influence how the 
            future service is changed.
        </p>        
        <p class="govuk-body">
            If there are issues with the accuracy of information in UKMCAB, please let us 
            know at <a class="govuk-link" href="mailto:approvedbodies@beis.gov.uk">approvedbodies@beis.gov.uk</a>
        </p>        
        <p class="govuk-body">
            If you experience problems using UKMCAB, please let us know by using the 
            Feedback option at the top of any page.
        </p>        
        <p class="govuk-body">
            To register for user research to help improve this service, please email us at 
            <a class="govuk-link" href="mailto:ukmcab.userresearch@beis.gov.uk">ukmcab.userresearch@beis.gov.uk</a>
        </p>
        
        <h3 class="govuk-heading-m">Useful links</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy">Department for Business, Energy & Industrial Strategy</a></li>
            <li><a class="govuk-link" href="https://ec.europa.eu/growth/tools-databases/nando/index.cfm?fuseaction=search.main">European Commission Notified Bodies Nando system</a></li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body  govuk-!-padding-top-7 govuk-!-font-size-16">Last updated 2nd May 2023</p>
    </div>
</div>

