@using System.Net
@using UKMCAB.Web.UI.Areas.Account.Controllers;
@{
    ViewData["nav"] = "help";
    var returnUrl = WebUtility.UrlEncode(this.Url.ActionContext.HttpContext.Request.GetRequestUri().PathAndQuery);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How to use the UK Market Conformity Assessment Bodies (UKMCAB) service</h1>
        <p class="govuk-body">This guidance has been created for all users of the UKMCAB service.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            An introduction to the UKMCAB service
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>
                        The UKMCAB service is the definitive source and a register of UK Government
                        appointed Conformity Assessment Bodies (CABs) who can certify goods for both the Great Britain and Northern Ireland markets.
                    </p>
                    <p class='govuk-body'>
                        As the UK exited the EU, an alternative to the previously used NANDO system was required. NANDO is the
                        EU service that provides the same functionality across all member countries and organisations.
                    </p>
                    <p class='govuk-body'>
                        In March 2019, a UK version of NANDO was created, on GOV.UK, however it lacked functionality, specifically around the process for
                        CAB creation and approvals from the various organisations and departments involved. These requirements, and others, are intended
                        to be delivered with the bespoke developed UKMCAB service.
                    </p>
                    <p class='govuk-body'>
                        For more information about the service, visit our <a class="govuk-link" asp-area="Home" asp-controller="Home" asp-action="About">About page</a>.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            What is the Beta service and what is in the Public Beta?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p class='govuk-body'>
                        UKMCAB is currently in the Public Beta phase. This is where a web site or a service is continually developed to an agreed
                        set of requirements and is delivered in shorter phases of multiple releases. This ensures that the service is always developing,
                        unlike many traditional technology projects where updates can take months and years to reach the user. The service is tested and
                        improved with the help of users who offer feedback or agree to participate in user research. Both of which can influence how the
                        future service is changed.
                    </p>
                    <p class='govuk-body'>
                        The Public Beta is the minimum viable product. It is what is required from the site to meet the basic needs of the business owners
                        and the users. In the case of the UKMCAB service the Public Beta is to replace the existing interim site with the same level of functionality.
                    </p>
                    <p class='govuk-body'>
                        From the Public Beta the project will continuously release updates through a series of phases which will deliver larger areas of functionality,
                        such as approvals processes.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Who should use the UKMCAB service?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p class='govuk-body'>
                        Any organisation that is supplying or manufacturing goods for the UK and NI markets which need to be certified as meeting a set of regulatory standards.
                        This could be anything from maritime equipment to gas appliances, from toys to explosives.
                    </p>
                    <p class='govuk-body'>
                        Those organisations who carry out the above certification will also need to ensure they are on this service, and that their details and legislative areas
                        are up to date so that they can be found by others who wish to use their services.
                    </p>
                    <p class='govuk-body'>
                        The system is also for use by those who monitor, review and update the service itself, these areas being the UK Accreditation Service (UKAS), other government
                        departments (OGDs) involved in the approval and certification of these organisations and responsibility for the legislative areas that require accreditation from
                        companies, and the Office for Product Safety and Standards (OPSS).
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            When to use the UKMCAB service
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>
                        For the organisations registered on the service, their details will be submitted for approval by the UK Accreditation Service (UKAS) when they have completed their accreditation. They are required
                        to keep their details up to date.
                    </p>
                    <p class='govuk-body'>
                        For organisations who wish to manufacture and/or supply goods to the UK that require certification, they will use the service to find companies approved to carry
                        out the necessary testing and approvals to allow them to be certified to manufacture or supply those goods.
                    </p>
                    <p class='govuk-body'>
                        For the organisations and governmental departments involved in the management of the service, they should use the service whenever they need to add or update Conformity Assessment Bodies (CABs), or when
                        they receive notifications to review submitted CAB records and updates for approval.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                            How does an organisation get listed on the UKMCAB service?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
                    <p class='govuk-body'>
                        <a class="govuk-link" href="https://www.ukas.com/" target="_blank" rel="noreferrer noopener">The UK Accreditation Service (UKAS) @Html.OpensInNewWindow()</a> is the organisation who carry out the certification process for the government. In the first instance, contact them to understand more about
                        how the process works, and what you will need to do in order to become accredited and therefore listed on the UKMCAB service.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
                            Organisations with administration access to the UKMCAB service
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
                    <p class='govuk-body'>
                        UK Accreditation Service (UKAS), other government departments (OGDs) involved in the approval and certification of
                        these organisations and responsibility for the legislative areas that require accreditation from companies, and the
                        Office for Product Safety and Standards (OPSS) who manage the service.
                    </p>
                    <p class='govuk-body'>
                        Generally, UKAS request the addition of new Conformity Assessment Bodies (CABs), OGDs review and approve them, and OPSS have final review and publishing
                        abilities on the service.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
                            How does the Office for Product Safety and Standards (OPSS) use the service?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
                    <p class='govuk-body'>
                        OPSS are responsible for developing and operating the service. The OPSS digital team will manage the development
                        and release of the service through the phased lifecycle of the project.
                    </p>
                    <p class='govuk-body'>
                        OPSS are also responsible for managing Conformity Assessment Bodies (CABs) in some legislative areas within the system, and are the final approval
                        stage in the process of accepting CABs onto the service.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
                            How the information entered into the UKMCAB service is used by the Office for Product Safety and Standards (OPSS)
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">
                    <p class='govuk-body'>
                        Please see the <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="Privacy">Privacy and Terms of Use</a> statements for more information about how your data and privacy is managed.
                    </p>
                    <p class='govuk-body'>
                        For the data entered into the service, this is used to display the relevant information regarding Conformity Assessment Bodies (CABs) to those
                        searching the service. Some fields are used purely for searching and are not viewable by public users, as are the
                        supporting documents often supplied by the UK Accreditation Service (UKAS) and other government departments (OGDs). While these are not publicly viewable, they are retained with
                        the records, within the service, and only viewable by those managing the CABs and the service.
                    </p>
                    <p class='govuk-body'>
                        Data will be used for internal reporting and analysis to improve the system, for example to identify where there are
                        regulatory areas missing CABs, where CABs are not being returned in the search results correctly, etc.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
                            How do the other government departments (OGDs) use the service?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-9" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">
                    <p class='govuk-body'>
                        Please see the <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="Privacy">Privacy and Terms of Use</a> statements for more information about how your data and privacy is managed.
                    </p>
                    <p class='govuk-body'>
                        OGDs will use the service to manage approvals and archive requests for Conformity Assessment Bodies (CAB) records.
                    </p>
                    <p class='govuk-body'>
                        They may also request reports and analysis from the Office for Product Safety and Standards (OPSS) to understand CAB coverage for their legislative areas and for 
                        other purposes relating to their business and operation.
                    </p>

                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                            How does the United Kingdom Accreditation Service (UKAS) use the service?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
                    <p class='govuk-body'>
                        Please see the <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="TermsAndConditions">Privacy and Terms of Use</a> statements for more information about how your data and privacy is managed.
                    </p>
                    <p class='govuk-body'>
                        UKAS will use the service to create Conformity Assessment Bodies (CAB) records, manage approvals and archive requests, and to request entries are
                        archived for the legislative areas that they hold responsibility for.
                    </p>
                    <p class='govuk-body'>
                        They may also request reports and analysis from the Office for Product Safety and Standards (OPSS) to understand CAB coverage, usage and for other purposes relating
                        to their business and operation.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-11">
                            How to stop receiving email notifications
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-11" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-11">
                    <p class='govuk-body'>
                        Email notifications from search results and Conformity Assessment Bodies (CAB) profile pages can be unsubscribed to by selecting the unsubscribe link on the email.
                    </p>
                    <p class='govuk-body'>
                        Feed notifications from search results and CAB profile pages can be unsubscribed from by simply deleting them from your
                        feed reader of choice.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-12">
                            Accessing your account as a registered user
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-12" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-12">
                    <p class='govuk-body'>
                        When you sign into your account using the <a class="govuk-link" asp-route="@AccountController.Routes.Login">Sign in</a> link in the header 
                        you will be taken to the Gov One Login page.  At this point you can either create a new Gov One Login account or sign in with your existing account.  
                        If you create a new Gov One Login account your access to UKMCAB will be approved by OPSS and you should receive notification by email within 72 hours.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-15">
                            Why does the search sometimes show results in a random order?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-15" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-15">
                    <p class='govuk-body'>
                        The reason to randomise entries is to ensure that there is a fair distribution of bodies, and a body entered with a name of “A1” will not
                        always appear first.
                    </p>
                    <p class='govuk-body'>
                        When a blank search is performed, i.e. no search term is entered, all the CAB records in the system are displayed. Blank searches can be performed by the user by pressing search
                        with no search term entered or filters selected, or by simply navigating to the search page from another page.
                    </p>
                    <p class='govuk-body'>
                        Each morning these search results are randomised. This means that if a blank search is performed in the morning and the afternoon, the results will be in the same order. If that blank search is performed the
                        following day, the results will be in a different order.
                    </p>
                    <p class='govuk-body'>
                        The randomisation is not performed at every search as this can increase server load, cause problems with moving to the next page of the returned results for each user, as well as
                        other technical reasons.
                    </p>
                    <p class='govuk-body'>
                        When a search term is entered, the sort order defaults to relevancy. When another sort order is selected, that search order takes precedence.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-16">
                            What Cookies do you use? / Where is your Cookies statement?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-16" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-16">
                    <p class='govuk-body'>
                        Please read our <a class="govuk-link" asp-area="Home" asp-controller="Cookies" asp-action="Cookies">cookies policy</a>.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-17">
                            How accessible is UKMCAB service? / Where is your Accessibility statement?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-17" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-17">
                    <p class='govuk-body'>
                        Please read our <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="AccessibilityStatement">accessibility policy</a>.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-18">
                            What are the terms and conditions of using the UKMCAB service? / Where is your Terms of Use statement?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-18" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-18">
                    <p class='govuk-body'>
                        Please read our <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="TermsAndConditions">terms and conditions policy</a>.
                    </p>
                </div>
            </div>

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-19">
                            What are the privacy rules for using the UKMCAB service? / Where is your Privacy statement?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-19" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-19">
                    <p class='govuk-body'>
                        Please read our <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="Privacy">privacy policy</a>.
                    </p>
                </div>
            </div>
            <div class="govuk-accordion__section" id="contact-info">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-20">
                            How do I contact those responsible for the UKMCAB service?
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-20" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-20">
                    <p class='govuk-body'>
                        <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="ContactUs" asp-route-returnUrl="@returnUrl">Contact us</a>.
                    </p>
                    <p class='govuk-body'>
                        Please reference the UKMCAB service when you are emailing and ensure you clearly state what you are emailing regarding.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body  govuk-!-padding-top-7 govuk-!-font-size-16">Last updated 12 June 2024</p>
    </div>
    <div class="govuk-grid-column-two-thirds app-back-to-top app-back-to-top--fixed govuk-!-padding-top-7" data-module="app-back-to-top">
        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="" id="ba">
            <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>Back to top
        </a>
    </div>

</div>



