@{
    ViewData["nav"] = "updates";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Service updates and releases</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            Service updates for each development release, such as new functionality, features and bug fixes and other non development news items relating to UK Market Conformity Assessment Bodies
        </p>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        Showing
                    </label>
                    <select class="govuk-select" id="year-of-update" name="year-of-update">
                        <option value="2023">2023</option>
                    </select>
                </div>
            </div>
        </dl>

    </div>        
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m">Release 1.0 - UKMCAB Service Refresh</h2>
                <p class="govuk-body">
                    30 May 2023
                </p>
                <p class="govuk-body">
                    The release of the revised service as a Minimum Viable Product (MVP). This means the service continues to deliver the functionality of the 
                    previous service, with the addition of several improvements. This level of functionality will act as the foundation to deliver more features 
                    throughout 2023 and beyond.
                </p>
                <p class="govuk-body">
                    Included in this MVP release are:
                </p>        

                <ul class="govuk-list govuk-list--bullet">
                    <li>A refresh of the user experience.</li>
                    <li>An expandable infrastructure built on standard and open source technologies.</li>
                    <li>Ability to create, edit and archive CAB records by OPSS service administrators.</li>
                    <li>Introduction of an upgraded search system, to be further developed in future phases.</li>
                    <li>History and audit logs for CAB records and internal users.</li>
                    <li>System metrics and KPIs to proactively measure the performance of the service.</li>
                    <li>Addition of FAQs and service updates pages to provide assistance to users.</li>
                    <li>Integration with OPSS support services.</li>
                </ul>                
            </div>                
        </dl>
    </div>
</div>


