@inject IConfiguration _configuration
@{
    ViewData["nav"] = "updates";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Service updates and releases</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <div class="govuk-form-group">
                    <p class="govuk-body">
                        Details of updates to the UK Market Conformity Assessment Bodies (UKMCAB) service. These include new functionality, features, bug fixes and other non-development news items relating to the service.
                    </p>
                </div>
            </div>
        </dl>

    </div>        
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m">Release 1.4 - Assigning schedules to legislative areas, search and filter separation</h2>
                <p class="govuk-body">
                    2 August 2023
                </p>
                <p class="govuk-body">
                    This release includes several search improvements. The search box has been separated from the search filters area. 
                    The mobile view will now show the search box above the search results and on desktop views the search box has moved outside of the filters section. 
                    The search term can now be cleared easily with the addition of a close icon. When search filters are selected, they appear at the top of the search results in a list and can be removed individually, updating the search results. 
                    These improvements make searching and filtering simpler and quicker. 
                </p>
                <p class="govuk-body">
                    Various changes have been made in the CAB create and edit screens to make the process easier. 
                    Legislative areas assigned to product schedules are now also shown on the legislative area list. 
                    This makes it clearer where legislative areas are assigned and where to edit them. 
                    A warning message will show when a CAB name already exists and prompt to check the duplication before continuing. 
                    The process of uploading another product schedule has been improved to automatically save the details before uploading the next schedule, 
                    and a small addition to the review date entry field makes it easier to complete and quicker to progress. 
                </p>

                <p class="govuk-body">Included in this release are:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>The search box is now separate from the filters list. On mobile the search is now always shown at the top of the search results, and on desktop the search is above the filter list</li>
                    <li>The search box now includes an icon to clear the current search text </li>
                    <li>Selected search filters will appear in a list at the top of the search results and can be removed individually to update the results </li>
                    <li>Entering a new CAB with a name that already exists displays a warning asking to check with OPSS before proceeding </li>
                    <li>Legislative areas assigned during the product schedules upload now show as pre-selected on the legislative area list when creating or editing a CAB </li>
                    <li>A clearly titled button that saves the title and legislative area before uploading another product schedule has been added </li>
                    <li>A button to add a set period of time to the review date of a CAB has been added </li>
                </ul>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m">Release 1.3 - Product schedule and legislative area improvements</h2>
                <p class="govuk-body">
                    21 July 2023
                </p>
                <p class="govuk-body">
                    This release includes the ability to assign the product schedules uploaded to Conformity Assessment Bodies (CAB) profiles to the relevant legislative areas. 
                    These legislative areas will be shown on the CAB profile page and in search results. The titles of the uploaded product schedules can also be changed, making them clearer and relevant to the CAB and the legislative area. 
                </p>
                <p class="govuk-body">
                    The search results have also been expanded to show all the legislative areas and body types. The final round of accessibility updates and issues from the Minimum Viable Product (MVP) release have been completed. 
                </p>

                <p class="govuk-body">Included in this release are: </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>Titles can be added to uploaded product schedules</li>
                    <li>Legislative areas can be assigned to the uploaded product schedules, which are then assigned to the CAB profile </li>
                    <li>All body types and legislative areas can be seen from the search results page </li>
                    <li>Specific errors on fields in CAB entry process to clearly indicate where errors have occurred and why </li>
                    <li>Some small email subscription and atom feed updates </li>
                    <li>More accessibility updates across the service</li>
                </ul>
            </div>
        </dl>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m">Release 1.2 - Improvements to existing functionality</h2>
                <p class="govuk-body">
                    4 July 2023
                </p>
                <p class="govuk-body">
                    This release includes improvements to the web feed from the UKMCAB service, functionality for internal users and accessibility.
                </p>
                <p class="govuk-body">
                    Included in this release are:
                </p>        

                <ul class="govuk-list govuk-list--bullet">
                    <li>Enhancements to the web feed so that updates to search results and Conformity Assessment Bodies (CAB) profiles include more information and are easy to read</li>
                    <li>Additional functionality for internal users to view CAB supporting documents</li>
                    <li>The option to view or download documents attached to CAB profiles</li>
                    <li>Accessibility updates across the service</li>
                </ul>                
            </div>                
        </dl>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m">Release 1.1 - Search improvements and MVP issues</h2>
                <p class="govuk-body">
                    23 June 2023
                </p>
                <p class="govuk-body">
                    The focus of this release is to improve the ability to search and find information in the service, as well as address some outstanding issues from the Minimum Viable Product (MVP) release.
                    The search system has been heavily refined to deliver more accurate results in a more relevant order, prioritising certain fields over others.
                    The web addresses of Conformity Assessment Bodies (CAB) profile pages are now user friendly, meaning that they contain the name of the CAB rather than a string of unique numbers.
                    Also, the titles for all CAB product schedule files have been updated from simple filenames to the full name of the product schedule, making them more meaningful to users.
                </p>
                <p class="govuk-body">
                    Included in this release are:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>Improvements to the accuracy of search results</li>
                    <li>User friendly links for CAB profile pages</li>
                    <li>Changes to the product schedule filename to show its full name</li>
                    <li>A summary page for email subscriptions to search results</li>
                    <li>Changes to the feedback form at the top of all pages</li>
                    <li>Links that leave the UKMCAB site will open in a new tab or window</li>
                </ul>
            </div>
        </dl>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m">Release 1.0 - UKMCAB service refresh</h2>
                <p class="govuk-body">
                    30 May 2023
                </p>
                <p class="govuk-body">
                    The release of the revised service as a Minimum Viable Product (MVP). This means the service continues to deliver the functionality of the
                    previous service, with the addition of several improvements. This level of functionality will act as the foundation to deliver more features
                    throughout 2023 and beyond.
                </p>
                <p class="govuk-body">
                    Included in this MVP release are:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>A refresh of the user experience</li>
                    <li>An expandable infrastructure built on standard and open source technologies</li>
                    <li>Ability to create, edit and archive Conformity Assessment Bodies (CAB) records by Office for Product and Safety Standards (OPSS) service administrators</li>
                    <li>Introduction of an upgraded search system, to be further developed in future phases</li>
                    <li>History and audit logs for CAB records and internal users</li>
                    <li>System metrics and key performance indicators (KPIs) to proactively measure the performance of the service</li>
                    <li>Addition of frequently asked questions (FAQs) and service updates pages to provide assistance to users</li>
                    <li>Integration with OPSS support services</li>
                </ul>
            </div>
        </dl>
    </div>
</div>


