@{
    ViewData["nav"] = "home";
}

<h1 class="govuk-heading-xl">UK Market Conformity Assessment Bodies</h1>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
            From the <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy"> Department for Business, Energy &amp; Industrial Strategy</a>. For more information about this service go the <a asp-controller="About" class="govuk-link">about</a> page.
        </p>

        <nav>
            <ul class="govuk-list">
                <li class="govuk-!-margin-top-7">
                    <a asp-controller="FindACAB" class="govuk-link govuk-!-font-weight-bold govuk-!-font-size-24">Find a CAB</a>
                    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-2">Find accredited Conformity Assessment Bodies (CABs) for your product.</p>
                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5">
                </li>
                <li class="govuk-!-margin-top-6">
                    <a class="govuk-link govuk-!-font-weight-bold" href="#">FAQ</a>
                    <p class="govuk-!-margin-top-1">Frequently asked questions about this service and the assessment process.</p>
                </li>
                <li class="govuk-!-margin-top-6 govuk-!-margin-bottom-9">
                    <a class="govuk-link govuk-!-font-weight-bold" href="#">Contact</a>
                    <p class="govuk-!-margin-top-1">Contact us to find out how we can help you.</p>
                </li>
            </ul>
        </nav>

    </div>
    
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 home-news-hr">
        <h2 class="govuk-heading-m">News</h2>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="#">New Manchester CAB</a>
                <p class="govuk-body-s govuk-!-margin-top-1">12 April 2023</p>
            </li>
            <li>
                <a class="govuk-link" href="#">Changes to electrical regulations</a>
                <p class="govuk-body-s govuk-!-margin-top-1">29 March 2023</p>
            </li>
            <li>
                <a class="govuk-link" href="#">Certification activity location in Sussex closed</a>
                <p class="govuk-body-s govuk-!-margin-top-1">28 March 2023</p>
            </li>
        </ul>
        <a class="govuk-link" href="#">More news</a>

    </div>

</div>


