<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Accessibility statement for UK Market Conformity Assessment Bodies service
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            This statement applies to the UK Market Conformity Assessment Bodies (UKMCAB) service on the 
            ukmcab.service.gov.uk subdomain. It does not apply to content on the www.gov.uk domain published 
            by the Office for Product Safety and Standards (OPSS).
        </p>
        <p class="govuk-body">
            The UKMCAB service and subdomain is operated by OPSS.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">How accessible the UKMCAB service is</h2>
        <p class="govuk-body">
            Parts of the UKMCAB service are not fully accessible. For example, some document attachments are not 
            clearly written, and some are in PDF format and not accessible.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Reporting accessibility problems with the UKMCAB service</h2>
        <p class="govuk-body">
            If you find any problems or if you think we’re not meeting the accessibility requirements, contact <a class="govuk-link" href="mailto:opss.enquiries@businessandtrade.gov.uk">opss.enquiries@businessandtrade.gov.uk</a>. If you request a response, we’ll aim to reply within 2 working days.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Enforcement procedure</h2>
        <p class="govuk-body">
            If you contact us with a complaint and you’re not happy with our response, contact the <a class="govuk-link" href="https://www.equalityadvisoryservice.com/" target="_blank">Equality Advisory and Support Service (EASS) @Html.OpensInNewWindow()</a>.
        </p>
        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) 
            (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Technical information about the accessibility of the UKMCAB service</h2>
        <p class="govuk-body">
            OPSS is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>
        <p class="govuk-body">
            The UKMCAB service is compliant with the 
            <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" target="_blank">
                Web Content Accessibility Guidelines version 2.1 AA standard @Html.OpensInNewWindow()</a>.
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Content that is not within the scope of the accessibility regulations</h2>
        <p class="govuk-body">
            The UKMCAB service allows the UK Accreditation Service (UKAS) and other governmental departments to upload documents they 
            have produced to share information regarding Conformity Assessment Bodies (CABs). This third-party content is neither funded 
            nor developed by OPSS and is not under its control. As such it is exempt under section 4(2)(e) of the accessibility regulations.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">What we’re doing to improve accessibility</h2>
        <p class="govuk-body">
            We will encourage UKAS and other governmental departments to ensure that the documents they upload to the UKMCAB service 
            are accessible.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">How we tested the UKMCAB service</h2>
            <p class="govuk-body">
                The UKMCAB service was last tested on 4 May 2023. The test was carried out by Office for Product Safety and Standards.
            </p>
            <p class="govuk-body">
                The service was given a manual technical audit with automated tools and tested by a team using a range of adaptive technologies. 
                Any issues that have been identified will be resolved in future releases.
            </p>
        
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-padding-top-7 govuk-!-font-size-16">Last updated 2nd May 2023</p>
    </div>
</div>