<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Accessibility statement for UK Market Conformity Assessment Bodies service
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            This statement applies to the UK Market Conformity Assessment 
            Bodies (UKMCAB) service on the <a href="/">ukmcab.service.gov.uk</a> 
            subdomain. It does not apply to content on the <a href="www.gov.uk">www.gov.uk</a> 
            domain published by the Office for Product Safety and Standards 
            (OPSS).
        </p>
        <p class="govuk-body">The UKMCAB service and subdomain is operated by OPSS.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">How accessible the UKMCAB service is</h2>
        <p class="govuk-body">
            Parts of the UKMCAB service are not fully accessible. For 
            example, some document attachments are not clearly written, and 
            some are in PDF format and not accessible.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Reporting accessibility problems with the UKMCAB service</h2>
        <p class="govuk-body">
            If you find any problems that are not listed on this page or, if think 
            we’re not meeting the accessibility requirements, contact 
            <a href="mailto:opss.enquiries@beis.gov.uk">opss.enquiries@beis.gov.uk.</a> If you request a response, we’ll aim 
            to reply within 2 working days.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Last updated DD/MM/YYYY</p>
    </div>
</div>