<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Cookies policy</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">What are cookies?</h2>
        <p class="govuk-body">
            Cookies are small text files that are saved on your device to help
            the website perform a number of functions. On your first visit to
            our website, a popup banner asked you to accept our use of
            cookies and similar technologies. The information these cookies
            collect is based on your browsing device's IP-address (hardware
            identifier).
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">What do the cookies do?</h2>
        <p class="govuk-body">The cookies we use:</p>
        <p class="govuk-body">
            DO NOT: store personally identifiable information about you; store
            information such as passwords (and cannot) allow us to access
            other information stored on your device, store information about
            you others could understand, compromise your security. 
        </p>
        <p class="govuk-body">
            DO: allow us to see how many people use our website and
            monitor their activities; allow us to see how people arrive at our
            site (e.g. via search engine); allow us to gather geographic
            location and browser information.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Last updated DD/MM/YYYY</p>
    </div>
</div>