<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Privacy Notice - UKMCAB</h1>
        <p class="govuk-body">
            This privacy notice explains how the Office for Product Safety and 
            Standards (OPSS) as part of the Department for Business and Trade 
            (DBT), as a ‘data controller’, processes personal data for in 
            relation to the UK Market Conformity Assessment Bodies service 
            (“<span class="govuk-body govuk-!-font-weight-bold">
                UKMCAB Service
            </span>”), and the rights of the individuals whose Personal Data we
            use. This Privacy Notice contains the information we are required to
            provide such individuals to comply with Articles 13 and 14 of the UK
            General Data Protection Regulation 
            (“<span class="govuk-body govuk-!-font-weight-bold">UK GDPR</span>”).
            We encourage you to review this Privacy Notice carefully
        </p>
        <p class="govuk-body">
            This notice is supplemented by our 
            <a class="govuk-link" 
               href="https://www.great.gov.uk/privacy-and-cookies/" 
               target="_blank"
            >
               main privacy notice @Html.OpensInNewWindow()
            </a> which provides further information on how DBT processes 
            personal data, and sets out your rights in respect of that personal
            data.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Who we are</h2>
        <p class="govuk-body">
            The <span class="govuk-body govuk-!-font-weight-bold">OPSS</span> 
            (“<span class="govuk-body govuk-!-font-weight-bold">we</span>”, 
            “<span class="govuk-body govuk-!-font-weight-bold">our</span>” and 
            “<span class="govuk-body govuk-!-font-weight-bold">us</span>”) is a 
            departmental office within the 
            <span class="govuk-body govuk-!-font-weight-bold">DBT</span> 
            and it is the UK’s national product regulator.  Our primary purpose 
            is to protect people and places from product-related harm, enabling 
            trade and growth by ensuring consumers and businesses can buy and 
            sell products with confidence.
        </p>
        <p class="govuk-body">
            The OPSS is responsible for operating the UKMCAB Service, which is 
            the definitive source and register of Conformity Assessment Bodies
            (“<span class="govuk-body govuk-!-font-weight-bold">CABs</span>”) 
            which are authorised to certify goods in the UK.  The UKMCAB Service
            is designed for use by: (i) organisations involved in the supply and
            manufacture of regulated products 
            (“<span class="govuk-body govuk-!-font-weight-bold">Traders</span>”);
            (ii) the CABs responsible for certifying regulated products in the UK;
            and (iii) the entities involved in managing the UKMCAB Service 
            itself, which includes the UK Accreditation Service 
            (“<span class="govuk-body govuk-!-font-weight-bold">UKAS</span>”) 
            and other government department 
            (“<span class="govuk-body govuk-!-font-weight-bold">OGD</span>”).
        </p>
        <p class="govuk-body">
            DBT is the Data Controller of the Personal Data which we collect.  
            This means DBT has overall responsibility for ensuring our use of 
            Personal Data is lawful, and we have secure systems in place to 
            protect it. For further information, you can contact the DBT’s Data
            Protection Officer 
            (“<span class="govuk-body govuk-!-font-weight-bold">DPO</span>”) 
            using the details set out at the end of this Privacy Notice.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            Our privacy commitment
        </h2>
        <p class="govuk-body">
            OPSS (as part of DBT) is committed to protecting your privacy.  We 
            handle Personal Data in line with the UK GDPR at all times, as well
            as other laws which protect information and privacy. This includes,
            for example, the Data Protection Act 2018 and the Privacy and 
            Electronic Communications (EC Directive) Regulations 2003.
        </p>
        <p class="govuk-body">
            In addition to the commitments set out in this Privacy Notice, we 
            also operate in accordance with the data privacy rules set out in
            the DBT 
            <a class="govuk-link" 
               href="https://www.gov.uk/government/organisations/department-for-business-and-trade/about/personal-information-charter" 
               target="_blank"
            >
               Personal Information Charter @Html.OpensInNewWindow()
            </a>.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Scope</h2>
        <p class="govuk-body">
            Please note this Privacy Notice only applies to the OPSS’ collection
            and use of Personal Data in relation to the UKMCAB Service.  
            Information about how the OPSS processes Personal Data in relation
            to other services or gov.uk websites is set out in alternative 
            privacy notices, accessible at the bottom of each website page.  
            Please ensure you have reviewed and understand the applicable 
            privacy notice to the service you are using.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            What Personal Data is
        </h2>
        <p class="govuk-body">
            “Personal Data” is defined under the UK GDPR as any information
            relating to an identified, or identifiable living individual.  It 
            includes information which on its own may not identify you, but 
            which could lead to your identification if considered in combination
            with other pieces of information.  It includes, but is not limited 
            to, information such as your name, contact details, address and IP
            address.
        </p>
        <p class="govuk-body">
            It is our intention to be transparent about how we collect and use 
            Personal Data.  regardless of whether we have collected it from you
            directly or it has been provided to us by a third party.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            How we collect Personal Data
        </h2>
        <p class="govuk-body">
            We collect Personal Data both directly (from the individual it 
            relates to) and indirectly (from a third party, other than the 
            individual it relates to), in the following ways:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                from CABs staff members, contractors and individuals otherwise 
                authorised to act their behalf
                (“<span class="govuk-body govuk-!-font-weight-bold">
                    Service Users
                </span>”) when they set up profiles, or add information to the 
                UKMCAB Service;
            </li>
            <li>
                from UKAS and OGOs staff members, contractors and individuals 
                otherwise authorised to act their behalf 
                (“<span class="govuk-body govuk-!-font-weight-bold">
                    Service Managers
                </span>”) when they use the UKMCAB Service;
            </li>
            <li>
                from individuals who contact us to provide feedback or ask 
                questions about the UKMCAB Service 
                (“<span class="govuk-body govuk-!-font-weight-bold">
                    Third Parties
                </span>”); and
            </li>
            <li>
                when individuals (including Service Users, Service Managers and 
                Third Parties) visit the UKMCAB Service website 
                (“<span class="govuk-body govuk-!-font-weight-bold">
                    Service Website
                </span>”), we collect data using Cookies and Google Analytics in
                line with the preferences they select.
            </li>
        </ul>
        <p class="govuk-body">
            Regardless of how we collect Personal Data, we are required to 
            uphold the rights summarised in the 
            ‘<span class="govuk-body govuk-!-font-weight-bold">
                Your information rights
            </span>’ section below.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            What Personal Data we collect
        </h2>
        <p class="govuk-body">
            DBT collects the following types of Personal Data from Service Users
            and Service Managers:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                their name, contact details, role and employer;
            </li>
            <li>
                their details of which version of web browser they use; and
            </li>
            <li>
                information about any questions, feedback or interactions they 
                have with us in relation to the UKMCAB Service.
            </li>
        </ul>
        <p class="govuk-body">
            We collect the following types of Personal Data from Third Parties:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                any details which they choose to provide us with such as their
                name and contact details;
            </li>
            <li>
                their details of which version of web browser they use; and
            </li>
            <li>
                information about any questions, feedback or interactions they
                have with us in relation to the UKMCAB Service.
            </li>
        </ul>
        <p class="govuk-body">
            For information about what data we collect when individuals visit 
            the UKMCAB Service website and how we use it, please refer to the 
            ‘<span class="govuk-body govuk-!-font-weight-bold">
                Analytics
            </span>’ section below.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            What Special Category Personal Data DBT collects
        </h2>
        <p class="govuk-body">
            Under Article 9 of the UK GDPR, certain types of Personal Data are 
            subject to additional protections 
            (“<span class="govuk-body govuk-!-font-weight-bold">
                Special Category Personal Data
            </span>”).  We do not currently collect or process any Special 
            Category Personal Data in relation to the UKMCAB Service.  If this
            changes, and we consider it necessary to process your Special 
            Category Personal Data, we will notify you of the details of any 
            such processing and the legal basis on which we rely to do so.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            Why DBT asks for this information and how we use your Personal Data
        </h2>
        <p class="govuk-body">
            WDBT to collect the information in order to fulfil its public
            functions.
        </p>
        <p class="govuk-body">
            We use Personal Data for the following purposes:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                to maintain the UKMCAB Service so that Traders and members of 
                the public can identify CABs;
            </li>
            <li>
                to create individual accounts for Service Users and Service
                Managers so that they can access the UKMCAB Service and upload
                relevant information;
            </li>
            <li>
                to capture feedback and questions regarding the UKMCAB Service,
                which allows us to improve it;
            </li>
            <li>
                to interact with Service Users, Service Managers and Third Parties about any feedback or questions they have;
            </li>
            <li>
                so that we can report on and analyse the distribution of CABs 
                across the various legislative areas within the UKMCAB Service;
                and
            </li>
            <li>
                to send email notifications to Service Users and Service 
                Providers in line with any alerts they sign up to receive, to 
                remind them of accreditation review dates and approval actions
                needed.
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Analytics</h2>
        <p class="govuk-body">
            We use Google Analytics software to collect information about how 
            individuals use the Service Website 
            (“<span class="govuk-body govuk-!-font-weight-bold">
                Analytics Data
            </span>”).  This includes information about: (i) the pages you 
            visit; (ii) how long you spend on each page; (iii) how you got to 
            the Service Website; and (iv) what you click on while you’re 
            visiting the Service Website.
        </p>
        <p class="govuk-body">
            We do not collect or store your personal information as part of the 
            analytics process so this information cannot be used to identify who
            you are.
        </p>
        <p class="govuk-body">
            We collect Analytics Data in order to:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                improve the Service Website by monitoring how you use it, for 
                example by improving its search functionalities;
            </li>
            <li>
                gather feedback to improve the UKMCAB Service;
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            Information sharing
        </h2>
        <p class="govuk-body">
            From time to time, we may share Personal Data with the following 
            parties, for the reasons outlined:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                individuals or parties we may be required to share Personal Data
                with to comply with our legal obligations such as a court, party
                to a proceeding or public body tasked with preventing fraud or 
                other crime; and
            </li>
            <li>
                with other government departments, public authorities, law 
                enforcement agencies and regulators where the Personal Data we 
                hold will assist them with discharging their functions and we 
                have a lawful basis for doing so;
            </li>
            <li>
                in response to information requests, for example, under Freedom
                of Information (FOI) law or the Environmental Information 
                Regulations (EIR);
            </li>
            <li>
                where we are ordered to do so or where we are otherwise required
                to do so by law;
            </li>
            <li>
                with third party data processors as governed by contract;
            </li>
        </ul>
        <p class="govuk-body">
            We will take steps to anonymise information wherever possible when 
            sharing information internally or with third parties. The process
            of anonymisation removes the personal identifiers from the 
            information and thus means that the information no longer contains
            Personal Data.
        </p>
        <p class="govuk-body">
            We ensure that any third parties with whom we share Personal Data to
            process it on our behalf adopt equivalent or superior data 
            protection standards to our own.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            The legal basis for processing your personal data
        </h2>
        <p class="govuk-body">
            In order for our use of Personal Data to be lawful, we are required 
            to satisfy one or more of the lawful bases for processing which are
            prescribed by Article 6(1) of the UK GDPR.
        </p>
        <p class="govuk-body">
            The lawful basis we primarily rely on for processing Personal Data 
            in relation to the UKMCAB Service is Article 6(1)(e) of the UK GDPR,
            that processing is necessary for the performance of a task carried 
            out in the public interest or in the exercise of our official 
            authority.
        </p>
        <p class="govuk-body">
            When we receive, respond to and act upon feedback and questions 
            relating to the UKMCAB Service, and when we process Analytics Data,
            the lawful basis we rely on is Article 6(1)(f), that processing is
            necessary for our legitimate interests.  This is to ensure we can 
            monitor and improve the UKMCAB Service and Service Website.
        </p>
        <p class="govuk-body">
            To the extent we use Personal Data to comply with law, whether in 
            the context of proceedings or otherwise, the lawful basis we rely 
            on is Article 6(1)(c), that processing is necessary for compliance 
            with a legal obligation to which the OPSS is subject.  For clarity, 
            we do not rely on this legal basis for our day-to-day management of
            UKMCAB Services, we only rely on it as and when the law requires us
            to disclose or use Personal Data in a particular way.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            Where your Personal Data is processed and stored
        </h2>
        <p class="govuk-body">
            We host the UKMCAB Service and any Personal Data we collect in 
            relation to it within the UK.  We choose our systems and providers 
            carefully to make sure that your Personal Data is as safe as 
            possible while under our control. At present, we use a Microsoft 
            Azure product for hosting the UKMCAB Service.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            Overseas transfers
        </h2>
        <p class="govuk-body">
            As noted in the previous section, we store Personal Data within the
            UK.  We do not send or share your Personal Data outside of the UK. 
            If this changes, we will notify you of the details of any such 
            transfer and the mechanisms and protections in place to ensure the 
            security of your Personal Data.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            How long will DBT hold your data for
        </h2>
        <p class="govuk-body">
            Under the UK GDPR, DBT will only retain your Personal Data for as
            long as needed to fulfil the purposes for which we collected it, 
            including for the purposes of satisfying any legal, accounting, or
            reporting requirements.  This is subject to statutory or professional
            retention periods which may require us to retain certain types of 
            information for longer, or directions from law enforcement
            authorities to retain information related to proceedings.
        </p>
        <p class="govuk-body">
            We retain Personal Data in relation to the UKMCAB Service for 15 
            years from the date on which we received it, following which we the 
            data shall be reviewed for continued operational use and historical 
            value. An organisation’s data will be archived within UKMCAB and 
            removed from public view when an organisation’s accreditation(s) end.
        </p>
        <dl class="govuk-list data-list-25-75">
            <dt class="govuk-!-font-weight-bold">Reference:</dt>
            <dd>17.1</dd>

            <dt class="govuk-!-font-weight-bold">Category:</dt>
            <dd>Product Safety and Standards</dd>

            <dt class="govuk-!-font-weight-bold">Name:</dt>
            <dd>Accredited assessment bodies</dd>

            <dt class="govuk-!-font-weight-bold">Description:</dt>
            <dd>Records of accredited assessment bodies</dd>

            <dt class="govuk-!-font-weight-bold">Retention period:</dt>
            <dd>15 years</dd>

            <dt class="govuk-!-font-weight-bold">Trigger:</dt>
            <dd>End of accreditation</dd>

            <dt class="govuk-!-font-weight-bold">Disposal action:</dt>
            <dd>Review for continued operational use and historical value</dd>

            <dt class="govuk-!-font-weight-bold">
                Comments and references to statute:
            </dt>
            <dd>
                General Product Safety Regulations 2005 (and other safety 
                legislation) Public Records Act
            </dd>
        </dl>
        <p class="govuk-body">
            If we decide that we need to process your personal data for a reason 
            which is incompatible with the purposes for which we collected it 
            for, we will contact you to explain why we are doing this and why it
            is lawful to do so.
        </p>
        <p class="govuk-body">
            To determine the appropriate retention period for personal data, we 
            consider the amount, nature, and sensitivity of the personal data, 
            the potential risk of harm from unauthorised use or disclosure of
            your personal data, the purposes for which we process your personal 
            data and whether we can achieve those purposes through other means, 
            and the applicable legal requirements.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            How we protect Personal Data and keep it secure
        </h2>
        <p class="govuk-body">
            To comply with our legal obligations under the UK GDPR, we are 
            required to have appropriate technical and organisational measures 
            in place to protect your Personal Data.  We are committed to doing 
            all that we can to keep your Personal Data secure, and have set out
            below some examples of the measures we have in place:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                to prevent unauthorised access or disclosure of your Personal 
                Data, we use varying levels of encryption and run regular 
                penetration tests to assess our security standards;
            </li>
            <li>
                access to the UKMCAB Service is restricted to those of our staff
                members who have a genuine need to access it, including by using 
                passwords and unique login credentials; and
            </li>
            <li>
                the use of two factor authentication (2FA) by internal UKMCAB 
                Service users and administrators
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            Your information rights
        </h2>
        <p class="govuk-body">
            Under the UK GDPR, you have a number of rights in relation to your
            Personal Data.  These include the right to:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                be informed about how we use your Personal Data;
            </li>
            <li>
                obtain access to your Personal Data that we hold;
            </li>
            <li>
                request that your Personal Data is corrected if you believe it 
                is incorrect, incomplete or inaccurate;
            </li>
            <li>
                request that we erase your Personal Data in the following 
                circumstances:
            </li>
            <ul class="govuk-list govuk-list--spaced sub-list--circle">
                <li>
                    it is no longer necessary for the purposes for which we 
                    originally collected it;
                </li>
                <li>
                    we are relying on our legitimate interests as the legal 
                    basis for processing your Personal Data, and you object to 
                    our processing and there is no overriding compelling ground 
                    which enables us to continue;
                </li>
                <li>
                    we have processed it unlawfully (i.e. in breach of the 
                    requirements of the data protection legislation);
                </li>
                <li>
                    if it is necessary to delete it to comply with a legal 
                    obligation;
                </li>
            </ul>
            <li>
                ask us to restrict our processing activities where you consider 
                that:
            </li>
            <ul class="govuk-list govuk-list--spaced sub-list--circle">
                <li>
                    your Personal Data is inaccurate;
                </li>
                <li>
                    our processing is unlawful and you oppose its erasure;
                </li>
                <li>
                    we no longer need your Personal Data but you require us to 
                    keep it to enable you to establish, exercise or defend a 
                    legal claim;
                </li>
                <li>
                    you have raised an objection to our use of your Personal 
                    Data and we are considering whether we have legitimate 
                    grounds which override your objection;
                </li>
            </ul>
            <li>
                request a copy of certain Personal Data that you have provided 
                to us in a commonly used electronic format, if we are relying on 
                your consent or the performance of a contract for processing it;
            </li>
            <li>
                object to our processing of your Personal Data where we are 
                relying on our legitimate interests, our performance of a task 
                carried out in the public interest or in the exercise of our 
                official authority, in which case we will carry out an assessment
                to determine whether we have overriding legitimate grounds which 
                entitle us to continue to process your Personal Data; and
            </li>
            <li>
                not be subject to automated decisions which produce legal effects,
                or which could have a similarly significant effect on you..
            </li>
        </ul>
        <p class="govuk-body">
            If you would like further information on your rights, or the 
            circumstances in which they apply or may be restricted, please 
            contact our DPO for further information.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            Changes to this Privacy Notice
        </h2>
        <p class="govuk-body">
            From time to time, we may make changes this Privacy Notice. In that
            case, the ‘last updated’ date at the bottom of this page will also 
            change.  For this reason, it is important you regularly check this 
            page for updates.
        </p>
        <p class="govuk-body">
            Any changes to this Privacy Notice will apply to you and your 
            Personal Data immediately. If these changes affect how your 
            Personal Data is processed, OPSS will take reasonable steps to let 
            you know.  You can see previous versions of this 
            <a class="govuk-link" 
               href="/privacy-notice-2024-06-12"
            >
               Privacy Notice
            </a>.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">
            Contact us or make a complaint
        </h2>
        <p class="govuk-body">
            Please contact our DPO if you have any questions about anything in
            this Privacy Notice, think that your Personal Data has been misused 
            or mishandled, or you wish to make a complaint.  Our DPO’s detail 
            are:
        </p>
        <p class="govuk-body">
            Data Protection Officer<br>
            Department for Business and Trade<br>
            Old Admiralty Building<br>
            Admiralty Place<br>
            London<br>
            SW1A 2DY<br>
            Email: 
            <a class="govuk-link" 
               href="mailto:data.protection@businessandtrade.gov.uk"
            >
                data.protection@businessandtrade.gov.uk
            </a>
        </p>
        <p class="govuk-body">
            If you have made a complaint to us about how we handle your Personal
            Data that we have not been able to resolve, you have the right to
            complain to the UK’s Information Commissioner’s Office 
            (“<span class="govuk-body govuk-!-font-weight-bold">ICO</span>”). 
            The ICO is the UK’s independent regulator of information rights, and
            their details are set out below:
        </p>
        <p class="govuk-body">
            Information Commissioner's Office<br>
            Wycliffe House<br>
            Water Lane<br>
            Wilmslow<br>
            Cheshire<br>
            SK9 5AF<br>
        </p>
        <p class="govuk-body">
            W: <a class="govuk-link" href="https://ico.org.uk/" target="_blank">
                https://ico.org.uk/ @Html.OpensInNewWindow()
                </a>
        </p>
        <p class="govuk-body">
            Telephone: 0303 123 1113<br>
            Textphone: 01625 545860<br>
            Email: 
            <a class="govuk-link" href="mailto:casework@ico.org.uk">
                casework@ico.org.uk
            </a>
        </p>
        <p class="govuk-body">
            You can find out more about your rights as a data subject, and 
            details of how to contact our Data Protection Officer and the ICO 
            in our 
            <a class="govuk-link" 
               href="https://www.great.gov.uk/privacy-and-cookies/" 
               target="_blank"
            >
               main privacy notice @Html.OpensInNewWindow()
            </a>.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-padding-top-7 govuk-!-font-size-16">
            This Privacy Notice was last updated on 23rd October 2024.
        </p>
    </div>
</div>