@{
    ViewData["nav"] = "privacy";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Privacy Notice - UKMCAB</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Who we are</h2>
        <p class="govuk-body">
            The Office of Product Safety and Standards (OPSS) is currently a
            departmental office within the Department for Business and Trade
            (DBT) and responsible for operating the UK Market Conformity
            Assessment Bodies (UKMCAB) service. The UKMCAB service
            replaced the equivalent European Union service known as
            NANDO. The UKMCAB service is the definitive source and a
            register of UK Government appointed CABs who can certify
            goods for both the GB and NI markets.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Our Privacy Commitment</h2>
        <p class="govuk-body">
            OPSS is committed to protecting your privacy. This “Privacy
            Notice”, explains what personal information we collect about you
            either directly or indirectly and how we use, share and look after
            that information for the UKMCAB. We encourage you to review
            this Privacy Notice carefully. In addition to the commitments set
            out in this Privacy Notice, we operate in accordance with a set of
            data privacy rules which apply to the processing of all personal
            data by the entire Department of Business and Trade. These
            privacy rules can be found at the 
            <a class="govuk-link" href="#">BEIS Personal Information
                Charter.
            </a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Last updated DD/MM/YYYY</p>
    </div>
</div>