<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            UK Market Conformity Assessment Bodies Terms of Use
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            These Terms and conditions (<b class="govuk-body govuk-!-font-weight-bold">Terms</b>) govern your use of the UK
            Market Conformity Assessment Bodies (UKMCAB), the web
            pages the service is made available on and the database of
            information forming part of the service (together, the <b class="govuk-body govuk-!-font-weight-bold">service</b>). 
        </p>
        <p class="govuk-body">Your use of the service is also governed by GOV.UK's <a href="">Terms of
            user.</a>
        </p>
        <p class="govuk-body">Please read the terms of our 
            <a asp-area="Home" asp-controller="Footer" asp-action="Privacy">privacy policy</a>
            that applies to the service.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Who we are</h2>
        <p class="govuk-body">
            The Service is managed by the Office for Product Safety and
            Standards (OPSS), which is part of the Department for Business,
            Energy and Industrial Strategy (<b class="govuk-body govuk-!-font-weight-bold">BEIS</b>) on behalf of the Crown.
            BEIS is referred to as '<b class="govuk-body govuk-!-font-weight-bold">we</b>' in these Terms.            
        </p>
        <p class="govuk-body">If you have any questions relating to these Terms or the Service
           you can contact us at: <a href="mailto:opss.enquiries@beis.gov.uk">opss.enquiries@beis.gov.uk</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">What's in these Terms?</h2>
        <p class="govuk-body">These Terms tell you the rules for using the service.</p>
        <p class="govuk-body">Click on the links below to go straight to more information on each area:</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">About the service</a></li>
          <li><a href="">By using the service you accept these Terms</a></li>
          <li><a href="">We will tell registered users if and when we make changes to these Terms</a></li>
          <li><a href="">We may make changes to the service</a></li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-5">Last updated DD/MM/YYYY</p>
    </div>
</div>
