.checkboxes-item {
    position: relative;
    padding: 0;
    margin: 0;

    input {
        position: absolute;
        top: 0;
        left: 0;
        zoom: 1;
        opacity: 0;
    }

    //.search-filter-option-item-label {
    //    position: relative;
    //    display: block;
    //    cursor: pointer;
    //    padding: 7px 4px 7px 32px;
    //    border-bottom: #bfc1c3 1px solid;
    //    width: 90%;
    //}

    //.search-filter-option-item-label::before {
    //    content: "";
    //    border: 2px solid;
    //    background: rgba(0,0,0,0);
    //    width: 16px;
    //    height: 16px;
    //    position: absolute;
    //    top: 8px;
    //    left: 6px;
    //}

    //.search-filter-option-item-label::after {
    //    content: "";
    //    border: solid;
    //    border-width: 0 0 2px 2px;
    //    background: rgba(0,0,0,0);
    //    width: 8px;
    //    height: 3px;
    //    position: absolute;
    //    top: 14px;
    //    left: 11px;
    //    -moz-transform: rotate(-45deg);
    //    -o-transform: rotate(-45deg);
    //    -webkit-transform: rotate(-45deg);
    //    -ms-transform: rotate(-45deg);
    //    transform: rotate(-45deg);
    //    zoom: 1;
    //    filter: alpha(opacity=0);
    //    opacity: 0
    //}

    //input:disabled + .search-filter-option-item-label {
    input:disabled {
        color: #6f777b
    }

    //input:disabled + .search-filter-option-item-label::before, input:disabled + .search-filter-option-item-label::after {
    input:disabled, input:disabled {
        border-color: #dee0e2
    }

    //input:checked + .search-filter-option-item-label::after, .search-filter-option-item-label.not-checked::after {
    input:checked {
        zoom: 1;
        filter: alpha(opacity=100);
        opacity: 1;
    }

    //input:focus + .search-filter-option-item-label::before {
    input:focus {
        outline: #ffbf47 2px solid
    }
}
