#feedback-form-details {
    margin-top: 50px;
}

.feedback-form-container, .feedback-success-container {
    margin-top: 20px;
}

.feedback-form-errors-container, .feedback-form-error {
    border: 5px solid $govuk-error-colour;
}

.feedback-form-errors-container {
    padding: 15px 10px;
    margin: 10px 0;
}