.remove-file-button-link {
    @include govuk-font($size: 19, $line-height: 19px);
    align-items: normal;
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    cursor: pointer;
    text-align: left;
    color: $govuk-link-colour;
}


#file-upload-list-container {
    table {
        caption {
            @include govuk-media-query($until: tablet) {
                border-bottom: 1px solid #b1b4b6;
                padding-bottom: 10px;
            }
        }

        thead {
            @include govuk-media-query($until: tablet) {
                display: none;
            }
        }

        tbody {
            tr {
                @include govuk-media-query($until: tablet) {
                    border-bottom: 1px solid #b1b4b6;
                    display: block;
                    padding: 10px 0;
                }

                td {
                    padding: 20px 0;

                    @include govuk-media-query($until: tablet) {
                        display: block;
                        border-bottom: none;
                        padding: 0;
                    }

                    p {
                        @include govuk-media-query($until: tablet) {
                            padding: 0;
                        }
                    }

                    .file-label {
                        padding-left: 20px;

                        @include govuk-media-query($until: tablet) {
                            padding-left: 0;
                        }
                    }

                    .file-number {
                        width: 20px;
                        display: inline-block;
                    }

                    label {
                        display: none;

                        @include govuk-media-query($until: tablet) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
