.remove-file-button-link {
    @include govuk-font($size: 19, $line-height: 19px);
    align-items: normal;
    border: none;
    background: none;
    padding: 0;
    margin: 0px;
    box-sizing: content-box;
    cursor: pointer;
    text-align: left;
    color: $govuk-link-colour;

    &.remove-file-button-list-link {
        padding: 12px 0 12px 0;
    }

    @include govuk-media-query($until: tablet) {
        padding: 12px 0 12px 0;
    }
}


#file-upload-list-container {
    table {
        thead {
            @include govuk-media-query($until: tablet) {
                display: none;
            }
        }

        tbody {
            tr {
                @include govuk-media-query($until: tablet) {
                    border-bottom: 1px solid #b1b4b6;
                    display: block;
                    padding: 10px 0;
                }

                td {
                    padding: 20px 10px 20px 0;
                    vertical-align: top;

                    &:first-child {
                        width: 60%;

                        @include govuk-media-query($until: tablet) {
                            width: 100%;
                        }
                    }

                    &:nth-child(2) {
                        padding: 45px 10px 20px 0;

                        @include govuk-media-query($until: tablet) {
                            padding: 5px 0;
                        }
                    }

                    &:nth-child(3) {
                        padding: 65px 10px 20px 0;

                        @include govuk-media-query($until: tablet) {
                            padding: 5px 0;
                        }
                    }

                    @include govuk-media-query($until: tablet) {
                        display: block;
                        border-bottom: none;
                        padding: 5px 0;
                    }

                    p {
                        @include govuk-media-query($until: tablet) {
                            padding: 0;
                            margin-bottom: 5px;
                        }
                    }

                    .file-name {
                        @include govuk-media-query($until: tablet) {
                            padding-bottom: 5px;
                        }
                    }

                    .file-label {
                        padding-left: 20px;
                        margin-bottom: 0;

                        @include govuk-media-query($until: tablet) {
                            padding-left: 0;
                        }
                    }

                    .file-legislative-area {
                        margin-bottom: 0;
                    }

                    .file-number {
                        width: 20px;
                        display: inline-block;
                    }

                    .govuk-form-group {
                        margin-bottom: 0;
                    }

                    label {
                        display: none;

                        @include govuk-media-query($until: tablet) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
