.remove-file-button-link {
    @include govuk-font($size: 19, $line-height: 19px);
    align-items: normal;
    border: none;
    background: none;
    padding: 0;
    margin: 0px;
    box-sizing: content-box;
    cursor: pointer;
    text-align: left;
    color: $govuk-link-colour;
    vertical-align: bottom;

    @include govuk-media-query($until: tablet) {
        padding: 12px 0 12px 0;
    }
}

.govuk-colour-green {
    color: govuk-colour("green") !important;
}