.desktop-no-display {
  @include govuk-media-query($from: tablet) {
    display: none !important;
  }
}

.mobile-no-display {
  @include govuk-media-query($until: tablet) {
    display: none !important;
  }
}

.app-no-display {
    display: none !important;
}

.break-word {
    word-wrap: break-word;
}

.width-one-fifth {
    width: 100% !important;
}

@media (min-width: 40.0625em) {
    .width-one-fifth {
        width: 20% !important;
    }
}

.width-two-fifth {
    width: 100% !important;
}

@media (min-width: 40.0625em) {
    .width-two-fifth {
        width: 40% !important;
    }
}

.width-one-tenth {
    width: 100% !important;
}

@media (min-width: 40.0625em) {
    .width-one-tenth {
        width: 10% !important;
    }
}