#govuk-header {
    #logout-link {
        font-size: 1em;
        font-weight: 700;
        color: #ffffff;
        background-color: black;
        border: none;
        margin: 0;
        padding: 0;
    }


    @include govuk-media-query($until: tablet) {
        .govuk-header__service-name {
            width: 250px;
        }

        .govuk-header__menu-button {
            top: 50px;
        }

        .govuk-header__navigation-list--open {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            &.navigation-2-rows {
                height: 85px;
            }

            &.navigation-3-rows {
                height: 125px;
            }

            &.navigation-4-rows {
                height: 170px;
            }
        }

        .navigation-mobile-underline {
            border-bottom: 1px solid #2e3133;
        }

        .navigation-mobile-no-underline {
            border-bottom: none;
        }

        .navigation-item-button {
            font-family: "GDS Transport", arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 700;
            font-size: 14px;
            font-size: 0.875rem;
            line-height: 1.1428571429;
            white-space: nowrap;
        }

        @media (min-width: 40.0625em) {
            .navigation-item-button {
                font-size: 16px;
                font-size: 1rem;
                line-height: 1.25;
            }
        }
    }

    @include govuk-media-query($from: tablet) {
        .navigation-auth-link {
            float: right;
        }
    }
}

#govuk-service-navigation-container {
    @media (min-width: 40.0625em) {
        .govuk-service-navigation__item,
        .govuk-service-navigation__service-name {
            padding: 10px 0 0 0 !important;
        }
    }
}
