#govuk-header {
    @include govuk-media-query($until: tablet) {
        .govuk-header__service-name {
            width: 250px;
        }

        .govuk-header__menu-button {
            top: 50px;
        }

        .govuk-header__navigation-list--open {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            &.navigation-2-rows {
                height: 85px;
            }

            &.navigation-3-rows {
                height: 125px;
            }
        }

        .govuk-header__navigation-item:last-child {
            border-bottom: 1px solid #2e3133;
        }
    }

    @include govuk-media-query($from: tablet) {
        .navigation-auth-link {
            float: right;
        }
    }
}
