#sign-in {

    .govuk-form-group {
        margin: 30px 0;
        padding-top: 15px;
    }

    @include govuk-media-query($from: tablet) {
        .govuk-input {
            width: 75%;
        }

        .show-password-button {
            width: 80px;
            margin: 0 0 0 10px
        }
    }


    @include govuk-media-query($until: tablet) {
        .show-password-button {
            width: 100%;
            margin: 10px 0 0 0;
        }
    }
}
