.cab-status-tag {
    border: 2px solid;
    padding: 5px;
    font-weight: 600;
    margin-left: 10px;

    &.cab-status-tag--published {
        background-color: #cce2d8;
        color: govuk-colour("green");
        border-color: govuk-colour("green");
    }

    &.cab-status-tag--archived {
        background-color: govuk-colour("light-grey");
        color: govuk-colour("dark-grey");
        border-color: govuk-colour("dark-grey");
    }
}
