@import "../shared/colors";

.cab-status-tag {
    border: 1px solid;
    padding: 5px;
    font-weight: 600;
    margin-left: 10px;

    &.cab-status-tag--published {
        background-color: $status-published-background-color;
        color: $status-published-color;
        border-color: $status-published-color;
    }

    &.cab-status-tag--archived {
        background-color: govuk-colour("light-grey");
        color: govuk-colour("dark-grey");
        border-color: govuk-colour("dark-grey");
    }

    &.cab-status-tag--draft {
        background-color: lightblue;
        color: govuk-colour("dark-blue");
        border-color: govuk-colour("dark-blue");
    }
}

.desktop-no-display {
    .govuk-tag--yellow {
        margin-left: 0 !important;
    }
    .cab-detail-date-meta{
        margin-bottom: 20px !important;
    }
}
