@using UKMCAB.Web.UI.Extensions
@model SearchViewModel
@{
    ViewData["nav"] = "search";
    var initialTitle = "Find a UK Market Conformity Assessment Body";
    var title = string.IsNullOrWhiteSpace(Model.Keywords) ? initialTitle : $"{initialTitle} matching \"{Model.Keywords}\"";
    ViewData["pageTitle"] = title;
    var basePath = Context.Request.RemoveQueryParameters("sort", "pagenumber");
    if (basePath.Contains("?", StringComparison.InvariantCultureIgnoreCase))
    {
        basePath = "/search-feed" + basePath.Substring(basePath.IndexOf("?"));
    }
    else 
    {
        basePath = "/search-feed";
    }
    var resultsAnchor = Model.SearchResults.Any() ? Model.SearchResults.First().Name : "no-results";
}
<div id="search-page">
    <div id="skip-to-search-results-anchor">
        <a href="#@resultsAnchor" class="govuk-skip-link" data-module="govuk-skip-link">Skip to results</a>
    </div>
    <div id="search-header" class="govuk-grid-row">
        <div class="search-grid-column-three-fifth" id="search-page-title">
            <h1 class="govuk-heading-l">@title</h1>
        </div>
        <div class="atom-feed atom-feed-top search-grid-column-two-fifth">
            <partial name="Partials/_FeedLinks" model="Model.FeedLinksViewModel"/>
        </div>
    </div>

    <div id="search-results" class="govuk-grid-row">

        <partial name="Partials/_SearchForm" model="Model"/>

        <partial name="Partials/_SearchResults" model="Model"/>

        <div class="atom-feed atom-feed-bottom govuk-grid-column-two-thirds">
            <partial name="Partials/_FeedLinks" model="Model.FeedLinksViewModel"/>
        </div>

    </div>
</div>