@model SearchViewModel
@{
    ViewData["nav"] = "search";
    var title = string.IsNullOrWhiteSpace(Model.Keywords) ? "Search" : $"Search matching &quot;{Model.Keywords}&quot;";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Html.Raw(title)</h1>
    </div>
</div>

<div id="search-result-page" class="govuk-grid-row">

    <partial name="Partials/_SearchForm" model="Model"/>

    <partial name="Partials/_SearchResults" model="Model"/>
</div>