@using UKMCAB.Web.UI.Extensions
@model SearchViewModel
@{
    ViewData["nav"] = "search";
    var initialTitle = "Find a UK Market Conformity Assessment Body";
    var title = string.IsNullOrWhiteSpace(Model.Keywords) ? initialTitle : $"{initialTitle} matching &quot;{Model.Keywords}&quot;";
    var basePath = Context.Request.RemoveQueryParameters("sort", "pagenumber").Replace("search", "search-feed");
}

<div id="search-result-header" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Html.Raw(title)</h1>
    </div>
    <div id="atom-feed-top" class="atom-feed govuk-grid-column-one-third">
        <a href="@basePath" class="govuk-link govuk-link--no-visited-state">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="atom-feed__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M1.996 11A2 2 0 0 0 0 12.993c0 1.101.895 1.99 1.996 1.99 1.106 0 2-.889 2-1.99a2 2 0 0 0-2-1.993zM.002 5.097V7.97c1.872 0 3.632.733 4.958 2.059A6.984 6.984 0 0 1 7.015 15h2.888c0-5.461-4.443-9.903-9.9-9.903zM.006 0v2.876c6.676 0 12.11 5.44 12.11 12.124H15C15 6.731 8.273 0 .006 0z"></path>
            </svg>
            Subscribe to feed
        </a>
    </div>
</div>

<div id="search-result-page" class="govuk-grid-row">

    <partial name="Partials/_SearchForm" model="Model"/>

    <partial name="Partials/_SearchResults" model="Model"/>
    <div id="atom-feed-bottom" class="atom-feed govuk-grid-column-two-thirds">
        <a href="@basePath" class="govuk-link govuk-link--no-visited-state">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="atom-feed__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M1.996 11A2 2 0 0 0 0 12.993c0 1.101.895 1.99 1.996 1.99 1.106 0 2-.889 2-1.99a2 2 0 0 0-2-1.993zM.002 5.097V7.97c1.872 0 3.632.733 4.958 2.059A6.984 6.984 0 0 1 7.015 15h2.888c0-5.461-4.443-9.903-9.9-9.903zM.006 0v2.876c6.676 0 12.11 5.44 12.11 12.124H15C15 6.731 8.273 0 .006 0z"></path>
            </svg>
            Subscribe to feed
        </a>
    </div>

</div>