<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="githubopss" value="https://nuget.pkg.github.com/OfficeForProductSafetyAndStandards/index.json" />
    </packageSources>
	<packageSourceCredentials>
        <githubopss>
            <add key="Username" value="does_not_need_to_be_set" />
            <add key="ClearTextPassword" value="%OPSS_UKMCAB_PACKAGES_TOKEN%" />
        </githubopss>
    </packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="githubopss">
			<package pattern="UKMCAB.*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>


