@model UKMCAB.Web.UI.Models.ViewModels.Shared.ConfirmationViewModel

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title break-word">
        @Model.Title
    </h1>
    @if (!string.IsNullOrEmpty(Model.Body))
    {
        <div class="govuk-panel__body">
            @Model.Body
        </div>
    }
</div>
