@using System.Net;
@model FeedLinksViewModel
@{
    var requestPath = Context.Request.Path.ToString();
    var requestSchemeHost = $"{Context.Request.Scheme}://{Context.Request.Host}";
    var encodedUrlWithQueryStrings = WebUtility.UrlEncode(requestSchemeHost + Context.Request.GetRequestUri().PathAndQuery);
    var encodedUrlNoQueryStrings = WebUtility.UrlEncode(requestSchemeHost + requestPath);
    var shareUrl = string.Empty;
    var title = Constants.SiteName;
    var emailSubject = $"I'm sharing this from UKMCAB.";
    var emailBody = $"{title}. {encodedUrlWithQueryStrings}";
    var endPoint = Context.GetEndpoint().DisplayName;

    if (requestPath.StartsWith("/search/cab-profile"))
    {
        title = $"{Model.CABName} on {Constants.SiteName}.";
        emailSubject = $"I am sharing {Model.CABName} profile from {Constants.SiteName}.";
        emailBody = $"{title} {encodedUrlNoQueryStrings}";
        shareUrl = encodedUrlNoQueryStrings;
    }
    else if (requestPath.Equals("/"))
    {
        title = string.IsNullOrEmpty(Model.SearchKeyword) ? $"Search results for CABs on {Constants.SiteName}." : $"Search results for {Model.SearchKeyword} on {Constants.SiteName}.";
        emailSubject = $"I am sharing these search results from {Constants.SiteName}.";
        emailBody = $"{title} {encodedUrlWithQueryStrings}";
        shareUrl = encodedUrlWithQueryStrings;
    }
    else if (requestPath.Equals("/updates"))
    {
        title = $"Service updates and releases page on {Constants.SiteName}.";
        emailSubject = $"I am sharing the service updates and releases page from {Constants.SiteName}.";
        emailBody = $"The service updates and releases page on {Constants.SiteName}. {encodedUrlNoQueryStrings}";
        shareUrl = encodedUrlNoQueryStrings;
    }
}


@if (!Context.Request.Path.ToString().Equals("/updates"))
{
    <div class="feed-link-item">
        <a href="@Model.EmailUrl" class="govuk-link govuk-link--no-visited-state govuk-!-display-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="atom-feed__icon" width="21" height="15.75" focusable="false" fill="currentColor" aria-hidden="true">
                <path d="M19.687 0H1.312C.589 0 0 .587 0 1.313v13.124c0 .726.588 1.313 1.313 1.313h18.374c.725 0 1.313-.587 1.313-1.313V1.313C21 .587 20.412 0 19.687 0zm-2.625 2.625L10.5 7.875l-6.563-5.25h13.126zm1.313 10.5H2.625V3.937L10.5 10.5l7.875-6.563v9.188z"></path>
            </svg>
            Get emails
        </a>
    </div>
    <div class="feed-link-item">
        <a href="@Model.FeedUrl" class="govuk-link govuk-link--no-visited-state govuk-!-display-block govuk-!-margin-bottom-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="atom-feed__icon" width="15" height="15" focusable="false" fill="currentColor" aria-hidden="true">
                <path d="M1.996 11A2 2 0 0 0 0 12.993c0 1.101.895 1.99 1.996 1.99 1.106 0 2-.889 2-1.99a2 2 0 0 0-2-1.993zM.002 5.097V7.97c1.872 0 3.632.733 4.958 2.059A6.984 6.984 0 0 1 7.015 15h2.888c0-5.461-4.443-9.903-9.9-9.903zM.006 0v2.876c6.676 0 12.11 5.44 12.11 12.124H15C15 6.731 8.273 0 .006 0z"></path>
            </svg>
            Subscribe to feed
        </a>
    </div>
}


<div id="" class="dropup">
    <a href="#!" role="button" draggable="false" class="share-button govuk-link govuk-link--no-visited-state govuk-!-display-block" data-module="govuk-button">
        <svg viewBox="0 0 32 32" width="1em" height="1em" class="ssrcss-xi5oyi-StyledIcon e161cein1" focusable="false" aria-hidden="true" fill="#ffffff">
            <path d="M7.8 17 25.3 7l-1.2-2.3L6.6 15l1.2 2zm-1.2 0 17.5 10.3 1.2-2.3L7.8 15l-1.2 2zm5.6-1c0-2.7-2.2-5-5-5-2.7 0-4.9 2.2-4.9 5 0 2.7 2.2 4.9 4.9 4.9 2.8 0 5-2.2 5-4.9zM29.7 5.9c0-2.7-2.2-5-5-5-2.7 0-4.9 2.2-4.9 5 0 2.7 2.2 4.9 4.9 4.9 2.8 0 5-2.2 5-4.9zm0 20.2c0-2.7-2.2-5-5-5-2.7 0-4.9 2.2-4.9 5 0 2.7 2.2 4.9 4.9 4.9 2.8.1 5-2.2 5-4.9z"></path>
        </svg>        
    </a>
   
    <div class="dropup-content">
        <div class="feed-link-item" data-href="@shareUrl" data-layout="" data-size="">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@shareUrl&amp;src=sdkpreparse" class="govuk-link govuk-link--no-visited-state govuk-!-display-block govuk-!-margin-bottom-2">
                    <svg role="img" aria-labelledby="_fb" class="atom-feed__icon" style="width: 21px; height: 21px;" fill="#1d70b8">
                    <title id="_fb">Share on Facebook</title>
                        <path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"></path>
                    </svg>
                    Facebook
            </a>
        </div>
        <div class="feed-link-item">
            <a href="https://twitter.com/intent/tweet?url=@shareUrl&text=@title" class="govuk-link govuk-link--no-visited-state govuk-!-display-block govuk-!-margin-bottom-2" target="_blank" rel="noopener noreferrer nofollow">
                <svg role="img" aria-labelledby="_tw" class="atom-feed__icon" style="width: 21px; height: 21px;" fill="#1d70b8">
                    <title id="_tw">Share on Twitter</title>
                    <path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"></path>
                </svg>
                Twitter
            </a>
        </div>

        <div class="feed-link-item">
            <a href="https://linkedin.com/share?url=@shareUrl" class="govuk-link govuk-link--no-visited-state govuk-!-display-block govuk-!-margin-bottom-2" target="_blank" rel="noopener noreferrer nofollow">
                <svg role="img" aria-labelledby="_li" class="atom-feed__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="width: 21px; height: 21px;" fill="#1d70b8">
                    <title id="_li">Share on Linkedin</title>
                    <path d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z" />
                </svg>
                LinkedIn
            </a>
        </div>

        <div class="feed-link-item">
            <a href="mailto:?subject=@emailSubject?.Replace(" ", "%20")&amp;body=@emailBody" class="govuk-link govuk-link--no-visited-state govuk-!-display-block govuk-!-margin-bottom-2" target="_blank" rel="noopener noreferrer nofollow">
                <svg role="img" aria-labelledby="_em" class="atom-feed__icon" style="width: 21px; height: 21px;" fill="#1d70b8">
                    <title id="_em">Email</title>
                    <path d="M24 7.387v10.478c0 .23-.08.424-.238.576-.158.154-.352.23-.58.23h-8.547v-6.959l1.6 1.229c.102.085.229.126.379.126.148 0 .277-.041.389-.127L24 7.387zm-9.365-2.021h8.547c.211 0 .393.063.543.192.15.128.234.3.248.51l-7.369 5.876-1.969-1.549V5.366zM13.404.864v22.271L0 20.819V3.244L13.406.864h-.002zm-4.049 11.18c-.02-1.133-.313-2.072-.879-2.814-.555-.74-1.275-1.131-2.131-1.164-.824.033-1.529.423-2.1 1.164-.57.742-.855 1.682-.87 2.814.015 1.117.315 2.047.885 2.791.571.74 1.274 1.133 2.101 1.176.855-.035 1.574-.424 2.145-1.17.57-.748.87-1.68.885-2.797h-.036zm-3.12-2.482c.431.02.794.256 1.083.717.285.461.435 1.045.435 1.752 0 .721-.149 1.307-.435 1.771-.301.464-.66.704-1.096.704s-.795-.226-1.095-.69-.435-1.05-.435-1.754c0-.705.135-1.291.435-1.74.284-.45.646-.69 1.081-.721l.027-.039z"></path>
                </svg>
                Email
            </a>
        </div>

        <div class="feed-link-item popup">
            <a id="copy-link" href="#!" class="govuk-link govuk-link--no-visited-state govuk-!-display-block govuk-!-margin-bottom-2" rel="noopener noreferrer nofollow">
                <svg xmlns="http://www.w3.org/2000/svg" aria-labelledby="_copy_link" viewBox="-2 -2 26 24" role="img" aria-labelledby="_copy-link" class="atom-feed__icon" style="width: 21px; height: 21px;" fill="#f1f1f1">
                    <title id="_copy-link">Copy Link</title>
                    <path stroke="currentColor" d="M19 15l2.5-2.5c1-1 1.5-3.5-.5-5.5s-4.5-1.5-5.5-.5L13 9M10 12l-2.5 2.5c-1 1-1.5 3.5.5 5.5s4.5 1.5 5.5.5L16 18M17 11l-5 5"></path>
                </svg>
                Copy Link
            </a>
            <span id="share-url" hidden>@WebUtility.UrlDecode(shareUrl)</span>
            <span class="copied-popup-text govuk-body-xs" id="copyPopup">Link copied to clipboard</span>
        </div>
    </div>
</div>
