<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details" data-module="govuk-details" id="feedback-form-details">
            <div id="feedback-form-error" class="feedback-form-errors-container govuk-visually-hidden">
                <p id="feedback-form-error-message"></p>
            </div>
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Is there anything wrong with this page?
                </span>
            </summary>
            <div id="feedback-form" class="feedback-form-container">
                <h2 class="govuk-heading-m">Help us improve GOV.UK</h2>
                <p class="govuk-body">Don't include personal or financial information like your National Insurance number or credit card details.</p>
                <form asp-area="Home" asp-controller="Feedback" asp-action="Submit" method="post">
                    <input type="hidden" id="ReturnURL" name="ReturnURL" value="@Context.Request.Path"/>
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper">
                                <label class=" govuk-heading-m" for="WhatWereYouDoing">
                                    What you were doing
                                </label>
                            </h1>
                            <div id="doing-hint" class="govuk-hint">
                                Please explain, step by step, what you did. If we can reproduce a problem, we can try and fix it.
                            </div>
                            <textarea class="govuk-textarea" rows="5" aria-describedby="doing-hint" id="WhatWereYouDoing" name="WhatWereYouDoing"></textarea>
                        </div>
                        <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper">
                                <label class=" govuk-heading-m" for="WhatWentWrong">
                                    What went wrong
                                </label>
                            </h1>
                            <div id="wrong-hint" class="govuk-hint">
                                Please explain what you expected to happen, and what actually happened. A clear explanation will help us fix the problem.
                            </div>
                            <textarea class="govuk-textarea" rows="5" aria-describedby="wrong-hint" id="WhatWentWrong" name="WhatWentWrong"></textarea>
                        </div>
                    </fieldset>
                    <div class="govuk-button-group">
                        <button class="govuk-button" id="feedback-sumbit-button" name="feedback-sumbit-button" data-module="govuk-button">
                            Send
                        </button>
                        <a class="govuk-button govuk-button--secondary" id="details-close-button">Cancel</a>
                    </div>
                </form>
            </div>
            <div id="feedback-success" class="govuk-visually-hidden feedback-success-container">
                <h2 class="govuk-heading-m">Thank you for your help</h2>
                <p class="govuk-body">We will look to improve this service based on your feedback.</p>
                <div>
                    <a class="govuk-link" href="#" id="feedback-form-submit-again-button">Submit another feedback</a>
                </div>
            </div>
        </details>
    </div>
</div>
