
<div id="email-alert-frontend">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-6">Enter your email address</h1>
            <form method="post">
                <div class="govuk-form-group">
                    <input autocomplete="email" class="gem-c-input govuk-input" id="email-address-input" name="emailaddress" spellcheck="false" type="email">
                </div>
                <button class="govuk-button" type="submit">Continue</button>
            </form>
        </div>
    </div>
</div>